<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>내 인사이동 목록</title>
</th:block>

<!-- 사용자 CSS -->
<!-- <th:block layout:fragment="customCss">

</th:block> -->

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">내 인사이동 목록</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="/index">Home</a></li>
					<li class="breadcrumb-item"><a href="/employee/employeeMyPage">기본 정보</a></li>
					<li class="breadcrumb-item"><a href="/employee/employeeMyMoveList">인사이동 목록</a></li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
	<div class="content">
		 <div class="row">
              <div class="col-md-12">
				 <div class="col-md-2"><button type="button" class="btn btn-block bg-gradient-primary" onclick="location.href='/'">사원 수정</button></div>
			 
		 	</div>	     			
	     </div>
	
	</div>
	
 <br>
	
<div class="content">
	<div class="container-fluid">
			<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><b>승인완료 인사이동 목록</b></h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" >
                <table class="table table-hover" style="margid:auto; text-align:center;">
                  <thead>
	                    <tr>
	                    	  <th>인사이동코드</th> 
		                      <th>사원코드</th>
		                      <th>사원명</th>
		                      <th>이전부서</th>
		                      <th>이전직급</th>
		                      <th>변경부서</th>
		                      <th>변경직급</th>
		                      <th>인사이동날짜</th>
		                      <th>작성자</th>
		                      <th>작성일자</th>
		                      <th>승인자</th>
		                      <th>승인일자</th>
		                      
	                    </tr>
                    </thead>
                     <tbody>
	                    <tr th:each="mm :${MyMove}">
								<td th:text="${mm.moveCode}" style="width:50px;"></td>
								<td th:text="${mm.code}" style="width:50px;"></td>
								<td th:text="${mm.empName}"></td>
								<td th:text="${mm.demgName}"></td>
								<td th:text="${mm.poName}"></td>
								<td th:text="${mm.afterDemgName}"></td>
								<td th:text="${mm.afterPoName}"></td>
								<td th:text="${mm.afterDate}"></td>
								<td th:text="${mm.writer}"></td>
								<td th:text="${mm.writerDay}"></td>
								<td th:text="${mm.approverName}"></td>
								<td th:text="${mm.approveDay}"></td>
							
						</tr>
                 
                 
                   
                   
                  </tbody>
                </table>
              </div>
              
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
		</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<script>
	$(document).ready(function () {
		   $(function () {
		            
		            $('#MOBILE_NO').keydown(function (event) {
		             var key = event.charCode || event.keyCode || 0;
		             $text = $(this); 
		             if (key !== 8 && key !== 9) {
		                 if ($text.val().length === 3) {
		                     $text.val($text.val() + '-');
		                 }
		                 if ($text.val().length === 8) {
		                     $text.val($text.val() + '-');
		                 }
		                 
		                 
		             return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
					 // Key 8번 백스페이스, Key 9번 탭, Key 46번 Delete 부터 0 ~ 9까지, Key 96 ~ 105까지 넘버패트
					 // 한마디로 JQuery 0 ~~~ 9 숫자 백스페이스, 탭, Delete 키 넘버패드외에는 입력못함 
		             }
		         })
		   });
	
		});
</script>

</th:block>
</html>