<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>사원 수정</title>
</th:block>

<!-- 사용자 CSS -->
<!-- <th:block layout:fragment="customCss">

</th:block> -->

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">사원 관리 - 사원 수정</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="/index" style="color: #28a745;">Home</a></li>
					<li class="breadcrumb-item"><a href="/employee/employeeList" style="color: #28a745;">사원 관리</a></li>
					<li class="breadcrumb-item"><a href="/employee/employeeUpdate" style="color: #28a745;">사원 수정</a></li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
	<div class="content">
		 <div class="row">
              <div class="col-md-12">
				 <div class="col-md-2"><button type="button" class="btn btn-block bg-gradient-success" onclick="location.href='/employee/employeeList'">사원 목록으로 가기</button></div>
			 
		 	</div>	     			
	     </div>
	
	</div>
	
 <br>
	
<div class="content">
	<div class="container-fluid">
		<div class="row">
		 <div class="col-md-12">
			<div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">사원 수정</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">인사이동변경</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
					<form method="post" action="/employee/employeeUpdate" class="form-horizontal" th:each="u:${update}" enctype="multipart/form-data">
	                <div class="card-body">  
	                	
	                 <div class="form-group row">
	                   		<label for="inputEmail3" class="col-sm-1 col-form-label">작성자</label>
		                    	<div class="col-sm-3">
		                    		<input type="text" class="form-control" name="writer" id="exampleInputEmail1"  th:value="${session.SID}" readonly="readonly">
		                 		</div>
	                 </div>
	                </div>
	              </form>
                </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                 	
                 	<form method="post" action="/employee/employeeUpdate" class="form-horizontal" th:each="u:${update}" >
                  		<div class="card-body"> 
                  		<div class="form-group row">
	               				fsefsef
		                </div>
		              </div>
                  	</form>
                  </div>
 				</div>
		  	</div>
           </div>
		  </div>
		</div>
	</div>
</div>
</th:block>

<th:block layout:fragment="customScript">
<script>
	$(document).ready(function () {
		   $(function () {
		            
		            $('#MOBILE_NO').keydown(function (event) {
		             var key = event.charCode || event.keyCode || 0;
		             $text = $(this); 
		             if (key !== 8 && key !== 9) {
		                 if ($text.val().length === 3) {
		                     $text.val($text.val() + '-');
		                 }
		                 if ($text.val().length === 8) {
		                     $text.val($text.val() + '-');
		                 }
		                 
		                 
		             return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
					 // Key 8번 백스페이스, Key 9번 탭, Key 46번 Delete 부터 0 ~ 9까지, Key 96 ~ 105까지 넘버패트
					 // 한마디로 JQuery 0 ~~~ 9 숫자 백스페이스, 탭, Delete 키 넘버패드외에는 입력못함 
		             }
		         })
		         
		        
		         
		   });
	
		});
</script>

</th:block>
</html>