<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>사원 목록</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<style type="text/css">
tr:hover{background: whitesmoke;}
</style>
<!-- DataTables -->
<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
</th:block>

<th:block layout:fragment="customContents">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">사원 관리 - 사원 조회</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/index"  style="color: #28a745;">Home</a></li>
						<li class="breadcrumb-item"><a href="/employee/employeeList"  style="color: #28a745;">사원 관리</a></li>
						<li class="breadcrumb-item"  style="color: #28a745;">사원 조회</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<br>
	<div class="content" >
		<div class="container-fluid">
		<div class="row" style="margin-left:auto;">
			<div class="col-2">
				<button  type="button" class="btn btn-block bg-gradient-success"
					onclick="location.href='/employee/employeeInsert'" >사원 등록</button>
			</div>
			<div class="col-2">	
				<button  type="button" class="btn btn-block bg-gradient-success"
					onclick="location.href='/admin/employee/employeeAllMoveList'" >인사이동 목록으로 가기 </button>
			</div>
		</div>
		</div>
		<br>	
		<div class="container-fluid">
			<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">사원 조회 목록</h3>
              </div>
              <!-- /.card-header -->
             <div class="card-body"> 
              <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed jsgrid-align-center" id="employeeListTable" style="margid:auto; text-align:center; white-space:nowrap; overflow:auto;">
                  <thead>
                    <tr>	
                    	  <th>순차</th>	
                    	  <th>사원코드</th>
	                      <th>사원번호</th>
	                      <th>사원명</th>
	                      <th>부서</th>
	                      <th>직급</th>
	                      <th>이메일</th>
	                      <th>차량유무</th>
	                      <th>재직상태</th>
	                      <th>상세보기</th>
	                      <th>수정</th>
	                      
                    </tr>
                   </thead>
                   <tbody>
                    <tr th:each="e,index :${emList}">
                    	<td th:text="${index.index+1}"></td>
                    	<td th:text="${e.code}"></td>
						<td th:text="${e.empNum}"></td>
						<td th:text="${e.empName}"></td>
						<td th:text="${e.demgName}"></td>
						<td th:text="${e.poName}"></td>
						<td th:text="${e.email}"></td>
						<td th:text="${e.carPresence}"></td>
						<td th:text="${e.liName}"></td>
						<td>
							<a th:href="@{/employee/employeeDetail(empNum=${e.empNum})}" class="btn btn-block btn-outline-success">상세보기</a>
						</td>
						<td>
							<!-- <a th:href="@{/modifyMember(memberId=${l.memberId})}">수정</a> -->
							<a th:href="@{/employee/employeeUpdate(empNum=${e.empNum})}" class="btn btn-block btn-outline-success">수정</a>
						</td>
						
					</tr>
                  </tbody> 
                  
                </table>
              </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
		</div>
		<!-- /.container-fluid -->
	</div>
</th:block>

<th:block layout:fragment="customScript">

	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>


	<!-- DataTables -->
	<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
	<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>
	<script>
		$(function () {
		    $('#employeeListTable').DataTable();
		  });
	</script>

	<script>
		$(function() {
			$("#example1").DataTable();
			$('#example2').DataTable({
				"paging" : true,
				"lengthChange" : false,
				"searching" : false,
				"ordering" : true,
				"info" : true,
				"autoWidth" : false,
			});
		});
	</script>
</th:block>
</html>