<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>전체사원 인사이동 목록</title>
</th:block>

<!-- 사용자 CSS -->


<th:block layout:fragment="customContents">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">사원 관리 - 전체사원 인사이동 목록</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/index" style="color: #28a745;">Home</a></li>
						<li class="breadcrumb-item"><a href="/employee/employeeList" style="color: #28a745;">사원 관리</a></li>
						<li class="breadcrumb-item"><a href="/employee/employeeMyMoveList" style="color: #28a745;">전체사원 인사이동 목록</a></li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<br>
	<div class="content" >
		<div class="container-fluid">
		<div class="row" style="margin-left:auto;">
			<div class="col-2">
				<button  type="button" class="btn btn-block bg-gradient-success"
					onclick="location.href='/employee/employeeList'">사원 목록으로 가기</button>
			</div>
			
		</div>
		</div>
		<br>
		
		<div class="container-fluid">
			<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><b>승인 대기중 인사이동 목록</b></h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
             <form id="approForm" method="post" action = "/admin/employee/employeeAllMoveList">	
              <div class="card-body table-responsive p-0" >
                <table id="approTable"class="table table-hover"  style="margid:auto; text-align:center;">
                  <thead>
	                    <tr>
	                    	  <th>인사이동코드</th> 
		                      <th>사원코드</th>
		                      <th>사원명</th>
		                      <th>이전부서</th>
		                      <th>이전직급</th>
		                      <th>변경부서</th>
		                      <th>변경직급</th>
		                      <th>인사이동날짜</th>
		                      <th>작성자</th>
		                      <th>작성일자</th>
		                      <th>승인</th>
		                      
		                      
	                    </tr>
                    </thead>
                     <tbody >
                     	
	                    <tr th:each="am, index :${AllMove}"  class="approTr">
								<td th:text="${am.moveCode}"></td>
								<td th:text="${am.code}"></td>
								<td th:text="${am.empName}"></td>
								<td th:text="${am.demgName}"></td>
								<td th:text="${am.poName}"></td>
								<td th:text="${am.afterDemgName}" ></td>
								<td th:text="${am.afterPoName}"></td>
								<td th:text="${am.afterDate}"></td>
								<td th:text="${am.writerName}"></td>
								<td th:text="${am.writerDay}"></td>
							    <td class="approTrInput">															    
									<input type="hidden" th:value="${index.count}">
							    	<button type="button" class="btn btn-block btn-outline-success btn-sm approCheck" th:value="${am.moveCode}">승인하기</button>
							    </td>
						</tr>
                 		                   
                  </tbody>
                </table>
              </div>
             </form>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
		</div>
	
		<!-- /.container-fluid -->
		
		<div class="container-fluid">
			<div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><b>승인완료 인사이동 목록</b></h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" >
                <table class="table table-hover" style="margid:auto; text-align:center;">
                  <thead>
	                    <tr>
	                    	  <th>인사이동코드</th> 
		                      <th>사원코드</th>
		                      <th>사원명</th>
		                      <th>이전부서</th>
		                      <th>이전직급</th>
		                      <th>변경부서</th>
		                      <th>변경직급</th>
		                      <th>인사이동날짜</th>
		                      <th>작성자</th>
		                      <th>작성일자</th>
		                      <th>승인자</th>
		                      <th>승인일자</th>
		                      
	                    </tr>
                    </thead>
                     <tbody>
	                    <tr th:each="amo :${AllMoveOk}">
								<td th:text="${amo.moveCode}" style="width:50px;"></td>
								<td th:text="${amo.code}" style="width:50px;"></td>
								<td th:text="${amo.empName}"></td>
								<td th:text="${amo.demgName}"></td>
								<td th:text="${amo.poName}"></td>
								<td th:text="${amo.afterDemgName}"></td>
								<td th:text="${amo.afterPoName}"></td>
								<td th:text="${amo.afterDate}"></td>
								<td th:text="${amo.writerName}"></td>
								<td th:text="${amo.writerDay}"></td>
								<td th:text="${amo.approverName}"></td>
								<td th:text="${amo.approveDay}"></td>
							<!-- <td>
								<a th:href="@{/employeeDetail(empNum=${e.empNum})}">상세보기</a>
							</td>
							<td>
								<a th:href="@{/modifyMember(memberId=${l.memberId})}">수정</a>
								<a th:href="@{/employeeUpdate(empNum=${e.empNum})}">수정</a>
							</td> -->
							
						</tr>
                 
                 
                   
                   
                  </tbody>
                </table>
              </div>
              
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customScript">

<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>

<script type="text/javascript" th:inline="javascript">
	$(document).ready(function(){
		
		$(function() {
			$("#example1").DataTable();
			$('#example2').DataTable({
				"paging" : true,
				"lengthChange" : false,
				"searching" : false,
				"ordering" : true,
				"info" : true,
				"autoWidth" : false,
			});
		});
		
		
		var demgArray = [[${AllMove}]];
		console.log(demgArray[0]);
		
		$('.approTr').on('click', 'button', function(){
			var num = $(this).parents('.approTr').find('input[type=hidden]').val() - 1;
			
			var code = demgArray[num].code;
			var moveCode = demgArray[num].moveCode;
			var afterDemgCode = demgArray[num].afterDemgCode;
			var afterPoCode = demgArray[num].afterPoCode;
			var inputInsertUrl = $(this).parents('.approTr').children('.approTrInput');
			
			if(confirm('승인 하시겠습니까?')){
				inputInsertUrl.children('input[name="code"]').remove();
				inputInsertUrl.append('<input type="hidden" name="code" value=' + code + '>');
				inputInsertUrl.children('input[name="moveCode"]').remove();
				inputInsertUrl.append('<input type="hidden" name="moveCode" value=' + moveCode + '>');
				inputInsertUrl.children('input[name="afterDemgCode"]').remove();
				inputInsertUrl.append('<input type="hidden" name="afterDemgCode" value=' + afterDemgCode + '>');
				inputInsertUrl.children('input[name="afterPoCode"]').remove();
				inputInsertUrl.append('<input type="hidden" name="afterPoCode" value=' + afterPoCode + '>');
				$('#approForm').submit();
				alert('승인이 완료되었습니다.');
				
			}else {
				return alert('승인이 취소되었습니다.');				
			}
		});
	
		
		/* $('.approCheck').on('click',function(){
			var code=$(this).val(); //하위요소 버튼테그 벨류값 저장
			if(confirm('승인 하시겠습니까?')){
				//인사이동관리코드 가지고 값 넣기
				var code = $(this).val()
				$(this).parents('.approTr').children('.approTrInput').append('<input type="hidden" name="moveCode" value=' + code + '>');
				//사원관리코드 가지고 값 넣기 
				var EmpCode = $(this).parents('.approTr').children('.approTdCode').text();
				$(this).parents('.approTr').children('.approTrInput').append('<input type="hidden" name="code" value=' + EmpCode + '>');
				//변경부서코드 가지고 값 넣기 
				var DemgCode= $(this).parents('.approTr').children('#hiddenAfterDemgCode').val();
				$(this).parents('.approTr').children('.approTrInput').append('<input type="hidden" name="afterDemgCode" value=' + DemgCode + '>');
				//변경직급코드 가지고 값 넣기
				var PoCode = $(this).parents('.approTr').children('.approTdPo').find('input[type=hidden]').val();
				$(this).parents('.approTr').children('.approTrInput').append('<input type="hidden" name="afterPoCode" value=' + PoCode + '>');
				console.log(DemgCode);
				console.log(PoCode);
			//	$('#approForm').submit();
				
				alert('승인이 완료되었습니다.');
		}else{
			return alert('승인이 취소되었습니다.');
		}
						
			
		}); */
		
	});
</script>
</th:block>
</html>