<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.triplethree.mapper.AssetManageMapper">

<resultMap type="shop.triplethree.vo.AssetsManage" id="AssetsManage">
	<result property="code" column="code"/>
	<result property="division" column="division"/>
	<result property="empCode" column="emp_code"/>
	<result property="coName" column="co_name"/>
	<result property="reReq" column="re_req"/>
	<result property="reStart" column="re_start"/>
	<result property="reEnd" column="re_end"/>
	<result property="reCom" column="re_com"/>
	<result property="reComCheck" column="re_com_check"/>
	<result property="reCheckName" column="re_check_name"/>
	<result property="veCode" column="code"/>
	<result property="veName" column="ve_name"/>
	<result property="veNumber" column="ve_number"/>
	<result property="beCode" column="code"/>
	<result property="beName" column="fa_name"/>
	<result property="beLocal" column="fa_local"/>
	<result property="beSeat" column="fa_seat"/>
</resultMap>

<!-- 차량 예약시 셀렉트 박스에 뿌려줄 내용 조회 쿼리문 -->
<select id="selectCarBox" resultMap="AssetsManage">
	SELECT
		code
		,ve_name
		,ve_number
	FROM
		VE_MANAGE
	WHERE
		ve_state ='사용가능'
	AND
		ve_use = '출장용'
</select>

<!-- 차량 예약 등록 쿼리문  -->
<insert id="insertCarManageAsset" parameterType="shop.triplethree.vo.AssetsManage">
	INSERT INTO
		RESER_MANAGE
		(code
		,division
		,emp_code
		,co_name
		,re_req
		,re_start
		,re_end)
		VALUES
		(#{code}
		,'차량'
		,#{empCode}
		,#{veCode}
		,NOW()
		,#{reStart}
		,#{reEnd})
</insert>

<!-- 달력에 차량 예약 현황 보여줄 쿼리문 -->
<select id="selectCarManageAsset" parameterType="shop.triplethree.vo.AssetsManage" resultMap="AssetsManage">		
	SELECT
		r.code
		,r.co_name
		,r.emp_code
		,r.re_start
		,r.re_end
		,e.emp_name AS empName
		,v.ve_name
		,d.dename AS deName
	FROM
		RESER_MANAGE AS r
	LEFT JOIN
		EMP_MANAGE AS e
	ON
		r.emp_code = e.emp_num 
	LEFT JOIN
		VE_MANAGE AS v
	ON	
		r.co_name = v.code
	LEFT join
		DEMG	AS d
	ON 
		e.demgcode = d.code
</select>

<!-- 차량 일정 수정시 모달에 뿌려줄 값을 찾는 쿼리문 -->
<select id="selectCarUpdate" parameterType="String" resultMap="AssetsManage">
	SELECT
		r.code
		,r.re_start
		,r.re_end
		,r.emp_code
	FROM 
		RESER_MANAGE AS r
	WHERE
		r.CODE = #{code}
</select>

<!-- 차량 일정 수정 쿼리문 -->
<update id="updateCarManageAsset" parameterType="shop.triplethree.vo.AssetsManage">
	UPDATE
		RESER_MANAGE AS r
	SET
		r.co_name = #{veCode}
		,r.re_req = NOW()
		,r.re_start = #{reStart}
		,r.re_end = #{reEnd}
	WHERE
		r.CODE = #{code}
</update>

<!-- 차량 예약 삭제 쿼리문 -->
<delete id="deleteCarManageAsset" parameterType="String">
	DELETE FROM
		RESER_MANAGE
	WHERE
		code = #{code}
</delete>

<!-- 시설물 예약시 셀렉트 박스에 뿌려줄 내용 조회 쿼리문 -->
<select id="selectBeBox" resultMap="AssetsManage">
	SELECT
		f.code
		,f.fa_name
	FROM
		FACILITY_MANAGE AS f
	WHERE
		f.fa_st = '사용가능'
</select>
</mapper>