<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.triplethree.mapper.BasicSetMapper">

	<resultMap type="shop.triplethree.vo.CateNameList" id="CateNameListResultMap">
		<result property="cateCode" column="code"></result>
		<result property="largeCateName" column="l_section"></result>
		<result property="middleCateName" column="m_section"></result>
		<result property="smallCateName" column="s_section"></result>
		<result property="itemCode" column="item_code"></result>
		<result property="useYn" column="yes_or_no"></result>
		<result property="average" column="average"></result>
		<result property="writerUser" column="writer"></result>
		<result property="writerDay" column="writer_day"></result>
		<result property="gasoline" column="gasoline"></result>
		<result property="diesel" column="diesel"></result>
		<result property="lpg" column="lpg"></result>
		<result property="bus" column="public"></result>
		<result property="room" column="room"></result>
		<result property="roomPeriod" column="room_period"></result>
		<result property="confUser" column="cal_place"></result>
		<result property="confDay" column="appro_day"></result>
	</resultMap>
	
	<insert id="insertListName" parameterType="shop.triplethree.vo.CateNameList">
		INSERT INTO LIST_MANAGE (code, l_section, m_section, s_section, writer, writer_day)
		VALUES (#{cateCode}, #{largeCateName}, #{middleCateName}, #{smallCateName}, 'id001', now());
	</insert>
	
	<select id="selectLargeCateNameList" resultMap="CateNameListResultMap">
		SELECT l_section
		FROM LIST_MANAGE
		GROUP BY l_section
	</select>
	
	<select id="selectCateNameList" parameterType="String" resultMap="CateNameListResultMap">
		<if test="largeCateName neq ''.toString() and middleCateName eq ''.toString()">
			SELECT m_section
			FROM LIST_MANAGE
			WHERE l_section = #{largeCateName}
			GROUP BY m_section
		</if>
		<if test="largeCateName neq ''.toString() and middleCateName neq ''.toString()">
			SELECT s_section
			FROM LIST_MANAGE
			WHERE l_section = #{largeCateName}
			AND m_section = #{middleCateName}
			GROUP BY s_section
		</if>
	</select>
	
	<select id="selectCateNameConfig" parameterType="String" resultMap="CateNameListResultMap">
		SELECT *
		FROM LIST_MANAGE
		WHERE s_section = #{smallCateName}
	</select>
	
	<update id="updateCateNameConfig" parameterType="String">
		UPDATE LIST_MANAGE
		SET s_section = #{smallCateName}
		WHERE code = #{cateCode}
	</update>

</mapper>