<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="shop.triplethree.mapper.BoardMapper">
	<resultMap id="boardResultMap" type="shop.triplethree.vo.Board">
		<result column="code" property="code"/>
		<result column="emp_code" property="empCode"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_con" property="boardCon"/>
		<result column="board_count" property="boardCount"/>
		<result column="writer_day" property="writerDay"/>
	</resultMap>
	<!-- 사원번호(SID)로 사원명 가져오기  -->
	<select id="getNameByEmpCode" parameterType="String" resultType="String">
		SELECT
			emp_name
		FROM EMP_MANAGE
		WHERE emp_num=#{empCode}
	</select>
	
	<insert id="insertBoard" parameterType="shop.triplethree.vo.Board">
		Insert into BOARD
			(code
			,emp_code
			,board_title
			,board_con
			,board_count
			,board_pw
			,writer_day)
		values
			(#{code}
			,#{empCode}
			,#{boardTitle}
			,#{boardCon}
			,#{boardCount}
			,#{boardPw}
			,NOW());
	</insert>
	<!-- 공지사항 글 목록 리스트로 뽑아오기 (emp_code 대신 이름으로 보여주기) -->
	<select id="boardList" resultMap="boardResultMap">
		SELECT
			B.code
			,emp_code
			,EM.emp_name
			,board_title
			,board_con
			,board_count
			,B.writer_day
 		FROM BOARD AS B
		LEFT JOIN EMP_MANAGE AS EM
		ON	B.emp_code = EM.code
	</select>
	
	<!--글 정보 하나만 뽑아오기 code로   -->
	<select id="getBoardByCode" parameterType="String" resultType="shop.triplethree.vo.Board">
		SELECT
			B.code
			,emp_code
			,EM.emp_name
			,board_title
			,board_con
			,board_count
			,B.writer_day
 		FROM BOARD AS B
		LEFT JOIN EMP_MANAGE AS EM
		ON	B.emp_code = EM.code
		where code=#{code}
	</select>
	
	<update id="boardUpdate" parameterType="shop.triplethree.vo.Board" >
		update BOARD
			set
			code = #{code}
			<!-- ,emp_code = #{empCode} -->
			,board_title = #{boardTitle}
			,board_con = #{boardCon}
			,board_count = #{boardCount}
			,writer_day = #{writerDay}
		where
			code = #{code}
	</update>



</mapper>