<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.triplethree.mapper.CompanyMapper">
	<insert id="insertCompany" parameterType="shop.triplethree.vo.Company">
	INSERT INTO
	EM_INFO
		(code,co_name,co_ceoname,co_addr,co_bln,co_fax,co_phone,co_email,co_logo,writer,writer_day)
	VALUES
		(#{Code}
		,#{coName}
		,#{coCeoname}
		,#{coAddr}
		,#{coBin}
		,#{coFax}
		,#{coPhone}
		,#{coEmail}
		,#{coLogo}
		,#{writer}
		,now()
	)
	</insert>
	<select id="selectCompany" resultType="shop.triplethree.vo.Company">
	select
		code AS Code
		,co_name AS coName
		,co_ceoname AS coCeoname
		,co_addr AS coAddr
		,co_bln AS coBin
		,co_fax AS coFax
		,co_phone AS coPhone
		,co_email AS coEmail
		,co_logo AS coLogo
		,writer AS writer
		,writer_day AS writerDay
	FROM 
		EM_INFO
	</select>
	<select id="updateCompanySelect" resultType="shop.triplethree.vo.Company">
	select
		*
	FROM 
		EM_INFO
	where
		code=#{Code}	
	
	</select>
	<update id="updateCompany" parameterType="shop.triplethree.vo.Company">
		UPDATE EM_INFO
	SET
		co_ceoname=#{coCeoname}
		,co_addr=#{coAddr}
		,co_fax=#{coFax}
		,co_phone=#{coPhone}
		,co_email=#{coEmail}
		,co_logo=#{coLogo}
		,writer=#{writer}
		,writer_day=now()
	where
		code=#{Code}
	
	
	</update>
</mapper>