<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.triplethree.mapper.EmployeeMapper">
	
	<select id="login" parameterType="shop.triplethree.vo.Employee" resultType="shop.triplethree.vo.Employee">
		SELECT
			em.CODE as code,
			em.demgcode as demgCode,
			de.dename as demgName,
			em.pocode as poCode,
			po.poname as poName,
			em.postcode as postCode,
			em.addr as addr,
			em.detailaddr as detailAddr,
			em.photo as photo,
			em.phone as phone,
			em.email as email,
			em.emp_num as empNum,
			em.emp_name as empName,
			em.password as password
		FROM 
			EMP_MANAGE as em
		
			LEFT JOIN DEMG AS de
			ON em.demgcode = de.CODE
			
			LEFT JOIN POSISYS AS po
			ON em.pocode = po.CODE
			
			WHERE em.emp_num= #{empNum}
		<!-- AND em.PASSWORD = #{password} --> 
	</select>
	
	<select id="selectForDepart" resultType="shop.triplethree.vo.Employee">
		SELECT
			 de.dename as demgName,
			 de.code as demgCode
		FROM
			 DEMG AS de
	    where de.approver_st = 'Y'
	</select>
	
	<select id="selectForPosition" resultType="shop.triplethree.vo.Employee">
		SELECT
			po.CODE AS poCode,
			po.poname AS poName
		FROM
			POSISYS AS po
		WHERE 
			po.approver_st = 'Y'
	</select>
	
	<select id="selectForStatus" resultType="shop.triplethree.vo.Employee">
		SELECT
			li.CODE as liCode,
			li.s_section as liName 
		FROM
		 	LIST_MANAGE AS li
		 WHERE li.m_section='재직여부' AND li.yes_or_no='Y'
	</select>
	
	<insert id="insertEmployee" parameterType="shop.triplethree.vo.Employee">
		INSERT INTO EMP_MANAGE (emp_num,CODE,demgcode,pocode,li_code,emp_name,password,postcode,addr,detailaddr,extraaddr,phone,car_presence,email,
								birth_date,con_type,basic_pay,join_date,photo,signature,retire_date,writer,writer_day)

			SELECT CONCAT('TT', DATE_FORMAT(CURDATE(),'%Y%m%d'), LPAD(RIGHT(IFNULL(MAX(emp_num), 0),3)+1,3,0)) AS emp_num, 
				    #{code} as CODE, 
				    #{demgCode} as demgcode,  
			        #{poCode} as pocode, 
			        #{liCode} as li_code, 
			        #{empName} as emp_name, 
			        #{password} as password, 
			        #{postCode} as postcode,
			        #{addr} as addr, 
			        #{detailAddr} as detailaddr,
			        #{extraAddr} as extraaddr,
			        #{phone} as phone, 
			        #{carPresence} as car_presence, 
			        #{email} as email, 
			        #{birthDate} as birth_date, 
			        #{conType} as con_type, 
			        #{basicPay} as basic_pay, 
			        #{joinDate} as join_date, 
			        #{photo} as photo, 
			        #{signature} as signature, 
			        #{retireDate} as retire_date, 
			        #{writer} as writer, 
			        now() as writer_day 
			        
			FROM EMP_MANAGE
			WHERE emp_num LIKE (
				CONCAT('TT', DATE_FORMAT(CURDATE(),'%Y%m%d'),'%')
			)
	</insert>
	
	<select id="selectEmployee" resultType="shop.triplethree.vo.Employee">
			SELECT
				em.emp_num as empNum,
				em.emp_name as empName,
				de.dename as demgName,
				po.poname as poName,
				li.s_section as liName,
				em.email as email,
				em.car_presence as carPresence
				
			FROM
				 EMP_MANAGE em
				
			LEFT JOIN DEMG AS de
			ON em.demgcode = de.CODE
			
			LEFT JOIN POSISYS AS po
			ON em.pocode = po.CODE
			
			LEFT JOIN LIST_MANAGE AS li
			ON em.li_code = li.code
							
														
	</select>
	
	<select id="selectForDetail" parameterType="String" resultType="shop.triplethree.vo.Employee">
		
		SELECT 
			em.photo as photo,
			em.signature as signature,
			em.emp_num as empNum,
			em.emp_name as empName,
			em.password as password,
			em.postcode as postCode,
			em.addr as addr,
			em.detailaddr as detailAddr,
			em.extraaddr as extraAddr,
			em.phone as phone,
			em.car_presence as carPresence,
			em.email as email,
			date_format(em.birth_date,'%Y-%m-%d') as birthDate,
			de.dename as demgName,
			po.poname as poName,
			li.s_section as liName,
			em.con_type as conType,
			em.basic_pay as basicPay,
			DATE_FORMAT(em.join_date,'%Y-%m-%d') as joinDate,
			DATE_FORMAT(em.retire_date,'%Y-%m-%d') as retireDate,
			em.writer as writer,
			DATE_FORMAT(em.writer_day,'%Y-%m-%d') as writerDay
		FROM 
			EMP_MANAGE as em
			
			LEFT JOIN DEMG AS de
			ON em.demgcode = de.CODE
			
			LEFT JOIN POSISYS AS po
			ON em.pocode = po.CODE
			
			LEFT JOIN LIST_MANAGE AS li
			ON em.li_code = li.code

		where emp_num= #{empNum}
		
	</select>
	
	<select id="selectForUpdate" parameterType="String" resultType="shop.triplethree.vo.Employee">
		
		SELECT 
			em.code as code,
			em.photo as photo,
			em.signature as signature,
			em.demgcode as demgCode,
			em.pocode as poCode,
			em.emp_num as empNum,
			em.emp_name as empName,
			em.password as password,
			em.postcode as postCode,
			em.addr as addr,
			em.detailaddr as detailAddr,
			em.extraaddr as extraAddr,
			em.phone as phone,
			em.car_presence as carPresence,
			em.email as email,
			date_format(em.birth_date,'%Y-%m-%d') as birthDate,
			de.dename as demgName,
			po.poname as poName,
			li.s_section as liName,
			em.con_type as conType,
			em.basic_pay as basicPay,
			DATE_FORMAT(em.join_date,'%Y-%m-%d') as joinDate,
			DATE_FORMAT(em.retire_date,'%Y-%m-%d') as retireDate,
			em.writer as writer,
			DATE_FORMAT(em.writer_day,'%Y-%m-%d') as writerDay
		FROM 
			EMP_MANAGE AS em
			
			LEFT JOIN DEMG AS de
			ON em.demgcode = de.CODE
			
			LEFT JOIN POSISYS AS po
			ON em.pocode = po.CODE
			
			LEFT JOIN LIST_MANAGE AS li
			ON em.li_code = li.code

		where emp_num= #{empNum}
		
	</select>
	
	<insert id="insertMoveEmployee" parameterType="shop.triplethree.vo.Employee">
		INSERT INTO PECHANGE (code, emp_code, pre_depart, pre_position, af_depart, af_positon, af_date, 
								writer,writer_day)
			VALUES (
					#{moveCode},
					#{code},
					#{demgCode},
					#{poCode},
					#{afterDemgCode},
					#{afterPoCode},
					#{afterDate},
					#{writer},
					 NOW())
			 
		
	</insert>
	
	<update id="updateEmployee" parameterType="shop.triplethree.vo.Employee">
		UPDATE EMP_MANAGE
			SET
				demgcode= #{demgCode},
				pocode= #{poCode},
				li_code= #{liCode},
				password=#{password},
				postcode=#{postCode},
				addr=#{addr},
				detailaddr=#{detailAddr},
				extraaddr=#{extraAddr},
				phone=#{phone},
				car_presence=#{carPresence},
				email=#{email},
				con_type=#{conType},
				basic_pay=#{basicPay},
				photo=#{photo},
				signature=#{signature},
				writer=#{writer},
				writer_day=NOW()
			WHERE 
				emp_num= #{empNum}
			 
		<if test="retireDate neq null and retireDate neq ''.toString()">
 				UPDATE EMP_MANAGE
					SET
						demgcode= #{demgCode},
						pocode= #{poCOde},
						li_code= #{liCode},
						password=#{password},
						postcode=#{postCode},
						addr=#{addr},
						detailaddr=#{detailAddr},
						extraaddr=#{extraAddr},
						phone=#{phone},
						car_presence=#{carPresence},
						email=#{email},
						con_type=#{conType},
						basic_pay=#{basicPay},
						retire_date=#{retireDate},
						photo=#{photo},
						signature=#{signature},
						writer=#{writer},
						writer_day=NOW()
					WHERE 
						emp_num= #{empNum}
 			</if>
	</update>
	
	
	<select id="employeeMyPage" parameterType="String" resultType="shop.triplethree.vo.Employee">
		
		SELECT 
			em.photo as photo,
			em.signature as signature,
			em.emp_num as empNum,
			em.emp_name as empName,
			em.password as password,
			em.postcode as postCode,
			em.addr as addr,
			em.detailaddr as detailAddr,
			em.extraaddr as extraAddr,
			em.phone as phone,
			em.car_presence as carPresence,
			em.email as email,
			date_format(em.birth_date,'%Y-%m-%d') as birthDate,
			de.dename as demgName,
			po.poname as poName,
			li.s_section as liName,
			em.con_type as conType,
			em.basic_pay as basicPay,
			DATE_FORMAT(em.join_date,'%Y-%m-%d') as joinDate,
			DATE_FORMAT(em.retire_date,'%Y-%m-%d') as retireDate,
			em.writer as writer,
			DATE_FORMAT(em.writer_day,'%Y-%m-%d') as writerDay
		FROM 
			EMP_MANAGE AS em
			
			LEFT JOIN DEMG AS de
			ON em.demgcode = de.CODE
			
			LEFT JOIN POSISYS AS po
			ON em.pocode = po.CODE
			
			LEFT JOIN LIST_MANAGE AS li
			ON em.li_code = li.code
		
		where emp_num= #{SID}
			
		
	</select>
</mapper>