<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.triplethree.mapper.EmployeeMapper">

	<select id="login" parameterType="shop.triplethree.vo.Employee" resultType="shop.triplethree.vo.Employee">
		
	</select>
	
	<select id="selectForDepart" resultType="shop.triplethree.vo.Employee">
		SELECT
			 de.dename as demgCode,
			 de.code as code
		FROM
			 DEMG AS de
	</select>
</mapper>