<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.triplethree.mapper.PayMapper">

		<!--급여 대장 클릭시 사원리스트  -->
	<select id="selectPay" resultType="shop.triplethree.vo.Employee">		
	SELECT  
			A.emp_num as empNum,
			A.emp_name as empName,
			B.dename as demgName,
			C.poname as poName
	FROM (
			SELECT A.*
			FROM EMP_MANAGE A
			INNER JOIN (
				SELECT emp_num, MAX(writer_day) AS writer_day
				FROM EMP_MANAGE
				GROUP BY emp_num) B
			ON A.writer_day = B.writer_day
			AND A.emp_num = B.emp_num) A
		
		LEFT JOIN DEMG B
		ON A.demgcode = B.CODE
		
		LEFT JOIN POSISYS C
		ON A.pocode = C.CODE
				
	</select>
	
	<!--퇴직금 검색쿼리문짜야험  -->
	<select id="selectRetiring" resultType="shop.triplethree.vo.Employee">	
		SELECT 
	em.retire_date
	FROM EMP_MANAGE AS em
	left JOIN DEMG AS d ON em.demgcode = d.code 
	left JOIN POSISYS AS p ON em.pocode  = p.code
	</select>
</mapper>