<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="shop.triplethree.mapper.ScheduleMapper">
 
 	<!-- 일정 등록 쿼리문 -->
 	<insert id="insertSchedule" parameterType="shop.triplethree.vo.Schedule">
		 INSERT INTO
			CALENDAR
				(code
				,emp_code
				,cal_sortation
				,cal_name
				,cal_content
				,cal_start
				,cal_end
				,backgroundColor
				,borderColor
				,writer_day)
		VALUES
			(#{code}
			,'id001'
			,#{sortation}
			,#{title}
			,#{content}
			,#{start}
			,#{end}
			,#{backgroundColor}
			,#{borderColor}
			,NOW());
 	</insert>
 
 	<select id="selectSchedule" resultType="shop.triplethree.vo.Schedule">
 		SELECT
			cal_name AS title
			,cal_start AS start 
			,cal_end AS end
			,backgroundColor AS backgroundColor
		FROM
			CALENDAR
 	</select>
 </mapper>