<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="shop.triplethree.mapper.SignDocumentMapper">
 	
 	<resultMap type="shop.triplethree.vo.SignDocument" id="signDocument">
 		<result property="code" column="code"/>
 		<result property="empCode" column="emp_code"/>
 		<result property="docFormCode" column="doc_form_code"/>
 		<result property="docTitle" column="doc_title"/>
 		<result property="docName" column="doc_name"/>
 		<result property="docCon" column="doc_con"/>
 		<result property="docBego" column="doc_bego"/>
 		<result property="writerDay" column="writer_day"/>
 		<result property="signEndDay" column="sign_end_day"/>
 		<result property="startDate" column="start_date"/>
 		<result property="endDate" column="end_date"/>
 		<result property="signState" column="sign_state"/>
 		<result property="signCheck" column="sign_check"/>
 		<result property="accCode" column="acc_code"/>
 		<result property="docFormCdoe" column="doc_form_code"/>
 		<result property="reDocDate" column="re_doc_date"/>
 		<result property="comments" column="comments"/>
 	</resultMap>
 	
 	<!-- 기안문서함에서 상단메뉴 텝 클릭에 따라 값을 뿌려주는 쿼리문 -->
 	<select id="selectDraftDocument" parameterType="String" resultMap="signDocument">
		<choose>
			<when test="valCheck eq 'Return'">
				SELECT
					r.code
					,r.acc_code
					,e.emp_name AS empName
					,r.doc_form_code
					,r.doc_title
					,r.doc_name
					,r.re_doc_date
					,r.writer_day
					,r.comments
					,D.dename
					,p.poname
				FROM
					RETURN_DOC_SAVE AS r
				LEFT JOIN
					EMP_MANAGE AS e
				ON
					r.emp_code = e.emp_num
				LEFT JOIN
					APP_LINE_ACCRUE AS a
				ON
					r.acc_code = a.CODE
				LEFT JOIN
					DOC_FORM_MANAGE AS d
				ON
					r.doc_form_code = d.CODE
				LEFT JOIN
					DEMG AS D
				ON
					e.demgcode = D.CODE
				LEFT JOIN
					POSISYS AS p
				ON
					e.pocode = p.code
				WHERE
					r.emp_code = #{sid}
			</when>
			<otherwise>
				SELECT
		 			s.code
					,s.writer_day
					,s.sign_end_day
					,s.doc_title
					,s.doc_name
					,d.dename
					,p.poname
					,e.emp_name AS empName
					,s.doc_form_code
					,s.sign_state
				FROM
					SIG_DOC AS s
				LEFT JOIN
					EMP_MANAGE AS e
				ON 
					s.emp_code = e.emp_num
				LEFT JOIN
					DEMG AS d
				ON
					e.demgcode = d.CODE
				LEFT JOIN
					POSISYS AS p
				ON
					e.pocode = p.CODE
				WHERE
					s.emp_code = #{sid}
				<if test="valCheck eq 'End'">
				AND
					s.sign_state = 'Y'
				</if>
				<if test="valCheck eq 'Starting'">
				AND
					s.sign_state = 'N'
				</if>
			</otherwise>
		</choose>
	</select> 	
	
	<!-- 결재 대기문서함에서 본인이 결재자에 등록되어있는 문서를 불러온다  -->
	<select id="selectSignDocumentWait" parameterType="String" resultType="hashmap">
		<choose>
			<when test="valCheck neq 'null'">
				SELECT 
					CONCAT(IF(IF(@docCode <![CDATA[<>]]> (@docCode:= A.doc_code), TRUE, FALSE) = 1, @cntNum:= 1, @cntNum:= @cntNum + 1)) AS number,
					A.CODE, 																																				
					B.doc_title, 																																		
					B.doc_name, 																																		
					A.app_state, 																																		
					C.dename, 																																			
					D.poname, 																																			
					E.emp_name, 																																		
					F.s_section,																																		
					e.emp_name AS empName																																		
				FROM
					APP_LINE_ACCRUE A
				LEFT JOIN 
					SIG_DOC B
				ON 
					A.doc_code = B.CODE
				LEFT JOIN 
					DEMG C
				ON 
					A.demgcode = C.code
				LEFT JOIN 
					POSISYS D
				ON 
					A.pocode = D.code
				LEFT JOIN 
					EMP_MANAGE E
				ON 
					A.app_person = E.emp_num
				LEFT JOIN
					EMP_MANAGE e
				on
					B.emp_code = e.emp_num
				LEFT JOIN 
					LIST_MANAGE F
				ON 
					A.sortation = F.code
			</when>
		</choose>
	</select>
	
	<!-- 결재문서함에서 본인이 결재 라인에 있는 문서를 모두 select한다.  -->
	<select id="selectSignDocumentEnd" parameterType="String" resultMap="signDocument">
		<choose>
			<when test="valCheck eq 'Return'">
				SELECT
					r.code
					,r.acc_code
					,e.emp_name AS empName
					,r.doc_form_code
					,r.doc_title
					,r.doc_name
					,r.re_doc_date
					,r.writer_day
					,r.comments
					,D.dename
					,p.poname
				FROM
					RETURN_DOC_SAVE AS r
				LEFT JOIN
					EMP_MANAGE AS e
				ON
					r.emp_code = e.emp_num
				LEFT JOIN
					APP_LINE_ACCRUE AS a
				ON
					r.acc_code = a.CODE
				LEFT JOIN
					DOC_FORM_MANAGE AS d
				ON
					r.doc_form_code = d.CODE
				LEFT JOIN
					DEMG AS D
				ON
					e.demgcode = D.CODE
				LEFT JOIN
					POSISYS AS p
				ON
					e.pocode = p.code
				WHERE
					r.emp_code = #{sid}
			</when>
			<otherwise>
				SELECT
		 			s.code
					,s.writer_day
					,s.sign_end_day
					,s.doc_title
					,s.doc_name
					,d.dename
					,p.poname
					,e.emp_name AS empName
					,s.doc_form_code
					,s.sign_state
				FROM
					SIG_DOC AS s
				LEFT JOIN
					EMP_MANAGE AS e
				ON 
					s.emp_code = e.emp_num
				LEFT JOIN
					DEMG AS d
				ON
					e.demgcode = d.CODE
				LEFT JOIN
					POSISYS AS p
				ON
					e.pocode = p.CODE
				WHERE
					s.emp_code = #{sid}
				<if test="valCheck eq 'End'">
				AND
					s.sign_state = 'Y'
				</if>
				<if test="valCheck eq 'Starting'">
				AND
					s.sign_state = 'N'
				</if>
				<!--  
			SELECT
				A.CODE AS code
				,C.dename AS deName
				,D.poname AS poName
				,F.s_section AS setion
				,E.emp_name AS signName
				,A.app_state AS state
				,B.doc_title AS docTitle
				,B.doc_name AS docName
				,E2.emp_name AS writeName
			FROM
				APP_LINE_ACCRUE A
			LEFT JOIN
				SIG_DOC B
			ON
				A.doc_code = B.CODE
			LEFT JOIN
				DEMG C
			ON
				A.demgcode = C.CODE
			LEFT JOIN
				POSISYS D
			ON
				A.pocode = D.CODE
			LEFT JOIN
				EMP_MANAGE E
			ON
				A.app_person = E.emp_num
			LEFT JOIN
				EMP_MANAGE E2
			ON
				B.emp_code = E2.emp_num
			LEFT JOIN
				LIST_MANAGE F
			ON
				A.sortation = F.CODE
			WHERE
				A.app_person = 'TT20191202008' 
			AND
				B.sign_state = 'N'
				-->
			</otherwise>
		</choose>
	</select>
 </mapper>