<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">

			<div class="col-sm-12">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
			</br></br>
		</div><!-- /.row -->
			<div class="col-sm-12">
				<h1 class="m-0 text-dark" align="center" >회사 정보 등록화면입니다</h1>
			</div><!-- /.col -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
	<form role="form" class="form-horozontal" th:action="@{/company/companyInsert}" method="post">
 	  	<div class="card-body">
	  	<div class="form-group row col-sm-12">
	   		<label class="col-sm-2 col-form-label">회사코드</label>
	   			 <div class="col-sm-4">
	   				 <input type="text" class="form-control" placeholder="*회사코드는 자동생성" disabled="">
   			 	</div>
	   	</div>
	    <div class="form-group row col-sm-12">
	   		<label class="col-sm-2 col-form-label">회사명</label>	
	   		 <div class="col-sm-4">
	   			<input type="text" name="coName" size="10" class="form-control col-12">
	   		</div>
	   		<label class="col-sm-2 col-form-label">대표자명</label>
	   		 <div class="col-sm-4">
	   			<input type="text" name="coCeoname" size="10" class="form-control col-12">
	   		</div>	
	   	</div>	
			<div class="form-group row">
               	<label for="inputEmail3" class="col-sm-2 col-form-label">회사주소</label>			                			               				                 	
	                 <div class="col-sm-3">				                	
                 		<input type="text" name="coPostCode" id="sample6_postcode" placeholder="우편번호 찾기" class="form-control">
					</div>		
					 <div class="col-sm-3">
						<input type="button" onclick="sample6_execDaumPostcode()" class="btn btn-success" value="우편번호 찾기">																		
					 </div>	
           </div>     				                 	
	            <div class="form-group row">				               
		             <label for="inputEmail3" class="col-sm-2 col-form-label"></label>  
						<div class="col-sm-8">
							<input type="text" name="coAddr"id="sample6_address" placeholder="주소를 입력해주세요." class="form-control">
						</div>
				</div>													 
				<div class="form-group row">	
					<label for="inputEmail3" class="col-sm-2 col-form-label"></label>  
						<div class="col-sm-8">	
							<input type="text" name="coDetailAddr"id="sample6_detailAddress"
							 placeholder="상세주소를 입력해주세요." class="form-control">
						</div>
				</div>						
				<div class="form-group row">		
					<label for="inputEmail3" class="col-sm-2 col-form-label"></label>  
						<div class="col-sm-8">	
							<input type="text" name="coExtraAddr"id="sample6_extraAddress" placeholder="참고주소를 입력해주세요." class="form-control col-sm-4">
						</div>		
					
				<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
				<script>
		   			 function sample6_execDaumPostcode() {
				        		new daum.Postcode({
				          		  oncomplete: function(data) {
				                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
				
				                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
				                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				                var addr = ''; // 주소 변수
				                var extraAddr = ''; // 참고항목 변수
				
				                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
				                    addr = data.roadAddress;
				                } else { // 사용자가 지번 주소를 선택했을 경우(J)
				                    addr = data.jibunAddress;
				                }
				
				                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
				                if(data.userSelectedType === 'R'){
				                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
				                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
				                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
				                        extraAddr += data.bname;
				                    }
				                    // 건물명이 있고, 공동주택일 경우 추가한다.
				                    if(data.buildingName !== '' && data.apartment === 'Y'){
				                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				                    }
				                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
				                    if(extraAddr !== ''){
				                        extraAddr = ' (' + extraAddr + ')';
				                    }
				                    // 조합된 참고항목을 해당 필드에 넣는다.
				                    document.getElementById("sample6_extraAddress").value = extraAddr;
				                
					                } else {
					                    document.getElementById("sample6_extraAddress").value = '';
					                }
					
					                // 우편번호와 주소 정보를 해당 필드에 넣는다.
					                document.getElementById('sample6_postcode').value = data.zonecode;
					                document.getElementById("sample6_address").value = addr;
					                // 커서를 상세주소 필드로 이동한다.
					                document.getElementById("sample6_detailAddress").focus();
					            }
					        }).open();
					    }
				</script>					
	   		</div>
  	 		
			<div class="form-group row col-sm-12">
		   		 <label class="col-sm-2 col-form-label" >사업자등록번호</label>
		   		  <div class="col-sm-4">
		   			<input type="text" name="coBin" size="30" class="form-control col-12">
				  </div>
			</div>
			  <div class="form-group row col-12">	  
	   			<label class="col-sm-2 col-form-label">팩스번호</label>
		   		<div class="col-sm-4">
			   			<input type="tel" name="coFax" required
			   			pattern="[0-9]{11}"
			   			title="-없이 11자리 숫자를 입력해주세요" size="20" class="form-control col-12">	
					</div>
			   			<label class="col-sm-2 col-form-label">회사대표번호</label>
			   		 <div class="col-sm-4">
			   			<input type="tel" name="coPhone" required
			   			pattern="[0-9]{11}"
			   			title="-없이 11자리 숫자를 입력해주세요" size="20" class="form-control col-12">
		   		</div>	
		   		</div>   		
					<div class="form-group row col-12">	
			   			<label class="col-sm-2 col-form-label">회사 이메일</label>
		   			 <div class="col-sm-10">	
			   			<input type="email" name="coEmail"  size="30" class="form-control col-12">
						</div>
		   		 	 </div>   		 
		   			<label class="col-sm-2 col-form-label">회사 로고</label>	
		   			<div class="form-group">
						<label class="col-xs-3 control-label" for="uploadFile">사진 :</label>
						<div class="col-xs-4">
							<img id="logoImgView" class="img-responsive" th:data-bsCode="${}" type="hidden" src="#" alt="미리보기" style="width:100px; height:100px;"/>
							<input class="form-control" name="coLogo" id="logoImg" type="file"/>
							<span id="imgFail" >로고를 선택해주세요</span>
						</div>
					</div>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
				<script type="text/javascript">
							function readURL(input, id) {
							if (input.files && input.files[0]) {
								var reader = new FileReader();
						
								reader.onload = function(e) {
									$("#" + id).attr('src', e.target.result);
								}					
								reader.readAsDataURL(input.files[0]);
							}
						}
							//이미지 파일 입력 여부 검사
							$('#logoImg').change(function(){
								if($('#logoImg').val() == '') { 
									$('#imgFail').show();
									$('#logoImg').focus();
								return false;
								}else{
									$('#imgFail').hide();
									var id = $(this).attr('id');
									id = id + "View";
									console.log(id);
									readURL(this, id);
								}
							});				
						</script>  			
				 <!--작성자는 나중에 세션걸꺼니까 지울꺼임 지금은 테스트중이니까 살리고  -->
	   		                
	                   
				</div>
	  			</div>
	  	 <input class="btn btn-block btn-success"
	  	 type="submit" name="infoInsert" value="회사 정보 입력하기">
	  	 </div>
	
	   </form>
					</div>
					<!-- /.card -->
				<!-- /.card -->
				</div>
				<!-- /.col-md-6 -->
				
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<!-- <script th:src="@{/dist/js/pages/dashboard3.js}"></script> -->

</th:block>
</html>