<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>결재 문서함</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<style type="text/css">
tr:hover{background: whitesmoke;}
</style>
<!-- DataTables -->
<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
</th:block>

<th:block layout:fragment="customContents">
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">결재 문서함</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item active">결재 문서함</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="card">
		<div class="card-header p-2 ajaxValCheck2">
			<ul class="nav nav-pills">
				<li class="nav-item ajaxVal2">
					<a class="nav-link" href="#starting" data-toggle="tab" id="Starting">진행</a>
				</li>
				<li class="nav-item ajaxVal2">
					<a class="nav-link" href="#end" data-toggle="tab" id="End">완료</a>
				</li>
				<li class="nav-item ajaxVal2">
					<a class="nav-link" href="#return" data-toggle="tab" id="Return">반려</a>
				</li>
			</ul>
		</div>
		
		<div>
			<div class="tab-content">
				<div class="tab-pane" id="starting">
					<div class="content" style="align-content: center">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<form class="boardListForm">
										<table
											class="table table-head-fixed jsgrid-align-center dateTablePagingStarting"
											style="white-space: nowrap; overflow: auto; width: 100%; height: auto;"
											id="dateTablePagingStarting">
											<thead style="text-align: center;">
												<tr>
													<th style="width: 10px;">순차</th>
													<th style="width: 100px;">기안일</th>
													<th style="width: 100px;">결재양식</th>
													<th style="width: 500px;">제목</th>
													<th style="width: 100px;">첨부</th>
													<th style="width: 100px;">기안자</th>
													<th style="width: 100px;">문서번호</th>
													<th style="width: 100px;">결재상태</th>
												</tr>
											</thead>
											<tbody id="selectStartingTr" style="text-align: center; font-size: small;">
											</tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="end">
					<div class="content" style="align-content: center">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<form class="boardListForm">
										<table
											class="table table-head-fixed jsgrid-align-center dateTablePagingEnd"
											style="white-space: nowrap; overflow: auto; width: 100%; height: auto;"
											id="dateTablePagingEnd">
											<thead style="text-align: center;">
												<tr>
													<th style="width: 10px;">순차</th>
													<th style="width: 100px;">기안일</th>
													<th style="width: 100px;">완료일</th>
													<th style="width: 100px;">결재양식</th>
													<th style="width: 500px;">제목</th>
													<th style="width: 100px;">첨부</th>
													<th style="width: 100px;">기안자</th>
													<th style="width: 100px;">문서번호</th>
													<th style="width: 100px;">결재상태</th>
												</tr>
											</thead>
											<tbody id="selectEndTr" style="text-align: center; font-size: small;">
											</tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="tab-pane" id="return">
					<div class="content" style="align-content: center">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<form class="boardListForm">
										<table
											class="table table-head-fixed jsgrid-align-center dateTablePagingReturn"
											style="white-space: nowrap; overflow: auto; width: 100%; height: auto;"
											id="dateTablePagingReturn">
											<thead style="text-align: center;">
												<tr>
													<th style="width: 10px;">순차</th>
													<th style="width: 100px;">기안일</th>
													<th style="width: 100px;">반려일</th>
													<th style="width: 100px;">결재양식</th>
													<th style="width: 500px;">제목</th>
													<th style="width: 100px;">첨부</th>
													<th style="width: 500px;">반려사유</th>
													<th style="width: 100px;">기안자</th>
													<th style="width: 100px;">문서번호</th>
													<th style="width: 100px;">결재상태</th>
												</tr>
											</thead>
											<tbody id="selectReturnTr" style="text-align: center; font-size: small;">
											</tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>
<script type="text/javascript">

</script>
<!-- 전자결재 관련 스크립트 -->
<script th:src="@{/custom/js/signDocument.js}"></script>
</th:block>
</html>