<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="javaScript">

<!-- Bootstrap -->
<script th:src="@{plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- overlayScrollbars -->
<script th:src="@{plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<!-- AdminLTE -->
<script th:src="@{dist/js/adminlte.js}"></script>

<!-- OPTIONAL SCRIPTS -->
<script th:src="@{plugins/chart.js/Chart.min.js}"></script>
<script th:src="@{dist/js/demo.js}"></script>
<script th:src="@{custom/js/CssControll.js}"></script>

</th:block>
</html>