<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<aside class="main-sidebar elevation-4 sidebar-light-navy" th:fragment="sidebarFragment">
		<!-- Brand Logo -->
		<a th:href="@{/}" class="brand-link">
			<img th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
			<span class="brand-text font-weight-light">Triple Three</span>
		</a>
	
		<!-- Sidebar -->
		<div class="sidebar">
	
			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
					<!-- <li class="nav-header">메뉴</li> -->
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-cogs"></i>
							<p>1.!.운영관리<i class="right fas fa-angle-left"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/admin/company/companyInsert}" class="nav-link">
									<i class="nav-icon far fa-building"></i>
									<p>!.회사정보등록.황</p>
								</a>
								<a th:href="@{/company/companyInfo}" class="nav-link">
									<i class="nav-icon far fa-building"></i>
									<p>!.회사정보리스트.황</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/admin/department/teamNameInsert}" class="nav-link">
									<i class="nav-icon fas fa-network-wired"></i>
									<p>부서관리.정</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/admin/position/positionInsert}" class="nav-link">
									<i class="nav-icon fas fa-users"></i>
									<p>직급관리.정</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/employee/employeeList}" class="nav-link">
									<i class="nav-icon fas fa-users-cog"></i>
									<p>!.사원관리.최</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/admin/employee/employeeAllMoveList}" class="nav-link">
									<i class="nav-icon fas fa-clipboard-list"></i>
									<p>!.인사이동이력.최</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-link"></i>
							<p>2.거래처관리.김<i class="right fas fa-angle-left"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/admin/client/clientInsert}" class="nav-link">
									<i class="nav-icon fas fa-edit"></i>
									<p>거래처정보등록</p>
								</a>
							</li>
						</ul>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/client/clientList2}" class="nav-link">
									<i class="nav-icon fas fa-clipboard-list"></i>
									<p>거래처(진행)</p>
								</a>
							</li>
						</ul>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/client/clientList}" class="nav-link">
									<i class="nav-icon fas fa-clipboard-list"></i>
									<p>거래처(전체)</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a th:href="@{/board/boardList}" class="nav-link">
							<i class="nav-icon fas fa-copy"></i>
							<p>3.게시판.김<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/board/boardList}" class="nav-link">
									<i class="nav-icon far fa-building"></i>
									<p>전사게시판</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/board/departBoardList}" class="nav-link">
									<i class="nav-icon far fa-list-alt"></i>
									<p>!.부서게시판</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon far fa-calendar-alt"></i>
							<p>4.일정관리.정<i class="right fas fa-angle-left"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/calender/companySchedule}" class="nav-link">
									<i class="far fa-calendar-alt"></i>
									<p>일정.정</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-copy"></i>
							<p>5.!.전자결재<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/admin/documentForm/formInsert}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>!.문서양식함</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{#}" class="nav-link">
									<i class="nav-icon fas fa-edit"></i>
									<p>#.새 결재 진행</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/signDocument/signStandByDocument}" class="nav-link">
									<i class="fas fa-file-signature"></i>
									<p>!.결재 대기 문서.정</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/signDocument/signDraftBox}" class="nav-link">
									<i class="fas fa-file-export"></i>
									<p>!.기안 문서함.정</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/signDocument/signDocumentSearch}" class="nav-link">
									<i class="fas fa-file-alt"></i>
									<p>!.결재 문서함.정</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-edit"></i>
							<p>6.#.출장관리<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{#}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>#.출장이력관리</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-won-sign"></i>
							<p>7.자산관리.정<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/admin/assets/assetBeSelect}" class="nav-link">
									<i class="fas fa-building"></i>
									<p>시설물 관리.정</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/admin/assets/assetCaSelect}" class="nav-link">
									<i class="fas fa-car-side"></i>
									<p>보유차량관리.정</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-table"></i>
							<p>8.예약관리.정<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/assets/assetsManageBeSelect}" class="nav-link">
									<i class="fas fa-building"></i>
									<p>회의실이용신청.정</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/assets/assetsManageCaSelect}" class="nav-link">
									<i class="fas fa-car-side"></i>
									<p>차량이용신청.정</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/assets/assetsManageList}" class="nav-link">
									<i class="fas fa-calendar-check"></i>
									<p>이용내역조회.정</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-hand-holding-usd"></i>
							<p>9.!.급여관리<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/admin/pay/viewPay}" class="nav-link">										
									<i class="fas fa-coins"></i>			
									<p>급여 검색.황</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/admin/pay/insertDeduct}" class="nav-link">										
									<i class="fas fa-coins"></i>			
									<p>!.공제액 설정.황</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{#}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>#.연차기준설정</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/pay/selectRetiring}" class="nav-link">
									<i class="fab fa-amazon-pay"></i>
									<p>!.퇴직금조회.황</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{/pay/selectPay}" class="nav-link">
									<i class="nav-icon fas fa-file-invoice-dollar"></i>
									<p>!.급여대장.황</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-table"></i>
							<p>10.근태관리.곽<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/admin/workAttitude/kuntaeList}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>근태현황.곽</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{#}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>#.휴가사용이력조회</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-table"></i>
							<p>11.#.평가관리<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{#}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>#.평가서제작</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{#}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>#.평가응시</p>
								</a>
							</li>
							<li class="nav-item">
								<a th:href="@{#}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>#.평가결과확인</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item has-treeview">
						<a href="#" class="nav-link">
							<i class="nav-icon fas fa-address-card"></i>
							<p>12.기본설정.곽<i class="fas fa-angle-left right"></i></p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a th:href="@{/admin/documentFormCateInsert}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>카테고리 등록.곽</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		<!-- /.sidebar-menu -->
		</div>
	<!-- /.sidebar -->
	</aside>
</html>