<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>공제액 설정 화면</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">

</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				
				<h1 class="m-0 text-dark">공제액 설정</h1>

			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<form action="#" method="post">
					<div class="card Deduct">
					<div class="card-header" style="margin-left:10px; font-size:1.2em;" align="right">단위:%</div>
					<table class="table table-bordered table-striped dataTable"role="grid"> 
						<tr>
						
							<th>연도</th>
							<th>국민연금</th>
							<th>건강보험료</th>
							<th>장기요양보험료</th>
							<th>고용보험</th>																											
							<th>수정</th>																											
						</tr>
						<tr th:each="d:${insertDeduct}">																																
														
							<th id="year" th:text="${d.year}">연도</th>							
							<th id="nationPer" th:text="${d.nationPer}">국민연금</th>
							<th id="healthPer" th:text="${d.healthPer}">건강보험료</th>
							<th id="longCare" th:text="${d.longCare}"> 장기요양보험료</th>
							<th id="inseurPer" th:text="${d.inseurPer}">고용보험</th>																																	
						<th><a class="btn btn btn-success" th:href="@{/admin/pay/updateDeductList(deCode=${d.deCode})}">수정</a></th>	
						</tr>						
					</table>
					</div>
					<h5>2019년도 요율입니다</h5>					
					<h6>*국민연금 보험료 산출 기준소득월액 9%입니다</h6>			
					<h6>*건강보험 보험료 산출 기준소득월액 6.46%입니다</h6>			
					<h6>*장기요양 보험료 산출 건강보험료의 8.51%입니다</h6>			
					<h6>*고용보험 보험료 산출 기준소득월액 1.3%입니다</h6>								
				</form>
					<!-- Button trigger modal -->
<div align="center">			
	<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
	  공제액등록
	</button>
</div>	
	<!-- 모달창 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      	<h3>공제액설정</h3>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	     <form action="/admin/pay/insertDeduct" method="Post">
		      <div class="modal-body">
				<h4 align="center">공제액 설정시 연도와 요율을 확인해주세요</h4>				
			      	   <label>연도</label>			      	       	   
			    	   <input type="number" id="year1" name="year" max="2100"/><h6>ex)2012와 같이 4자리로 입력해주세요</h6>
			 	       <br>
				       <label>국민연금</label>
				       <input type="text" id="nationPer1"name="nationPer"/><h6>ex)요율이 6.16%면 0.0616으로 입력해주세요</h6>
				  	   <br>
				       <label>건강보험료</label>
				       <input type="text" id="healthPer1" name="healthPer"/><h6>ex)요율이 6.16%면 0.0616으로 입력해주세요</h6>
				   	   <br>	      
				       <label>장기요양보험료</label>
				       <input type="text" id="longCare1" name="longCare"/><h6>ex)요율이 6.16%면 0.0616으로 입력해주세요</h6>
					   <br>		    
				       <label>고용보험</label>
				       <input type="text" id="inseurPer1" name="inseurPer"/><h6>ex)요율이 6.16%면 0.0616으로 입력해주세요</h6>	       		
			      </div>
		      <div class="modal-footer">
		        <button type="submit" id="insertDeduct"class="btn btn-primary">추가</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
<!-- 공제액 모달 창 수정 -->
	<!-- <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      	<h3>공제액 수정</h3>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	     <form action="/admin/pay/updateDeduct" method="get">
		      <div class="modal-body2">
				<h4 align="center">공제액 수정을 합니다</h4>					   									   
			      	   <label>연도</label>	    	   
			    	   <input type="number" id="year2" name="year" max="2100"/><h6>ex)2012와 같이 4자리로 입력해주세요</h6>
			 	       <br>
				       <label>국민연금</label>
				       <input type="text" id="nationPer2"name="nationPer"/><h6>ex)요율이 6.16%면 0.0616으로 입력해주세요</h6>
				  	   <br>
				       <label>건강보험료</label>
				       <input type="text" id="healthPer2" name="healthPer"/><h6>ex)요율이 6.16%면 0.0616으로 입력해주세요</h6>
				   	   <br>	      
				       <label>장기요양보험료</label>
				       <input type="text" id="longCare2" name="longCare"/><h6>ex)요율이 6.16%면 0.0616으로 입력해주세요</h6>
					   <br>		    
				       <label>고용보험</label>
				       <input type="text" id="inseurPer2" name="inseurPer"/><h6>ex)요율이 6.16%면 0.0616으로 입력해주세요</h6>	       		
			      </div>
		      <div class="modal-footer">
		        <button type="submit" id="updateDeduct"class="btn btn-primary">수정</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div> -->
				<!-- /.card -->
			<!-- /.card -->
			</div>		
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<!-- <script th:src="@{/custom/js/Deduct.js}"></script> -->
<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
	  $('#myInput').focus()
	});
/*모달창 등록  */
$('#insertDeduct').on('click', function(){		
	var year =$('#year1').val();
	var nationPer =$('#nationPer1').val();
	var healthPer =$('#healthPer1').val();
	var longCare =$('#longCare1').val();
	var inseurPer =$('#inseurPer1').val();
	if(year=='' || year.length<4 || year ==null){
		alert('연도 2000와 같이 입력해주세요')	
		return false;
	}else if(nationPer =='' || nationPer ==null || nationPer >=1){
		alert('ex)국민연금입니다 9%는 0.09로 입력해주세요');
		return false;	
	}else if(healthPer =='' || healthPer >=1 || healthPer==null){
		alert('ex)건강보험입니다 5%는 0.05로 입력해주세요');
		return false;
	}else if(longCare =='' || longCare >=1 || longCare==null){
		alert('ex)장기요양보험입니다 1.3%는 0.013로 입력해주세요');
		return false;
	}else if(inseurPer =='' || inseurPer >=1 || inseurPer==null){
		alert('ex)고용보험입니다 10%는 0.1로 입력해주세요');
		return false;
	}else{
		return true;
	}
});	
</script>
<script type="text/javascript">
$('#myModal1').on('shown.bs.modal', function () {
	  $('#myInput').focus()
	});
/*모달창 수정  */
$('#updateDeduct').on('click', function(){		
	var year =$('#year2').val();
	var nationPer =$('#nationPer2').val();
	var healthPer =$('#healthPer2').val();
	var longCare =$('#longCare2').val();
	var inseurPer =$('#inseurPer2').val();
	
	if(year=='' || year.length<4 || year ==null){
		alert('연도 4자리형식으로 입력해주세요')	
		return false;
	}else if(nationPer =='' || nationPer ==null || nationPer >=1){
		alert('ex)국민연금입니다. 9%는 0.09로 입력해주세요');
		return false;	
	}else if(healthPer =='' || healthPer >=1 || healthPer==null){
		alert('ex)건강보험입니다. 5%는 0.05로 입력해주세요');
		return false;
	}else if(longCare =='' || longCare >=1 || longCare==null){
		alert('ex)장기요양보험입니다. 1.3%는 0.013로 입력해주세요');
		return false;
	}else if(inseurPer =='' || inseurPer >=1 || inseurPer==null){
		alert('ex)고용보험입니다. 10%는 0.1로 입력해주세요');
		return false;
	}else{
		return true;
	}
});	


</script>
</th:block>
</html>