<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>급여입력</title>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h4 class="m-0 text-dark">급여 입력</h4>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->





</script>
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-5">
				<div class="card">
					<div align="center">사원목록</div>						
						<form action="/admin/pay/insertPay" method="post" id="insertPayForm">
							<div>
								<select class="form-control" name="sk" id="sel">
								<!--<option value=''>검색조건</option> 모든값을 가져올 수 있지 않을까  -->
									<option value="emp_num">사원코드</option>						
									<option value="emp_name" >사원명</option>
									<option value="dename" >부서명</option>
									<option value="poname">직급명</option>																					
								</select>																							
							</div>
							 <div>
								<input class="form-control" type="text" name="sv" 
										 placeholder="검색어를 입력하세요"/>
							 </div>
							 <div>
								<button type="submit"id="searchBtn" class="btn btn-block btn btn-success">Search</button>					
							</div>
							</form>	
																
  	 			<table class="table table-bordered table-striped dataTable"role="grid" id="insertPayList">  	   	 				 	
					<tr>								
						
						<th align="center">사원번호</th>
						<th align="center">사원명</th>
						<th align="center">부서명</th>
						<th align="center">직급</th>
						<th align="center">급여입력</th>																
					</tr>
					<!--반복문 돌려서 사원코드,명,직급 뽑자  -->
					<tbody>
						<tr class="insertPay" th:each="e,index :${insertSearchPay}">																						
							
							<td class="empNum" th:text="${e.empNum}"></td>		
							<td class="empName" th:text="${e.empName}"></td>					 										
							<td id="demgName" th:text="${e.demgName}"></td>										
							<td id="poName" th:text="${e.poName}"></td>															
								<input id="empCode" class="empCode" type="hidden" th:value="${e.empCode}">														
								<input class="basicPay" type="hidden" th:value="${e.basicPay}">													
								<input class="beneFit" type="hidden" th:value="${e.beneFit}">													
								<input class="holidayPay" type="hidden" th:value="${e.holidayPay}">													
								<input class="overtimePay" type="hidden" th:value="${e.overtimePay}">													
								<input class="positionBenefit" type="hidden" th:value="${e.positionBenefit}">													
								<input class="selfDriPay" type="hidden" th:value="${e.selfDriPay}">													
								<input class="comPay" type="hidden" th:value="${e.comPay}">													
								<input class="childPay" type="hidden" th:value="${e.childPay}">													
								<input class="mealCost" type="hidden" th:value="${e.mealCost}">																																	
								<input class="nationPer" type="hidden" th:value="${e.nationPer}">																																	
								<input class="healthPer" type="hidden" th:value="${e.healthPer}">																																	
								<input class="longCare" type="hidden" th:value="${e.longCare}">																																	
								<input class="inseurPer" type="hidden" th:value="${e.inseurPer}">																																	
								<input class="inCode" type="hidden" th:value="${e.inCode}">																																	
								<input class="one" type="hidden" th:value="${e.one}">																																	
																																									
																
							<td>
								<input type="button" id="choice" name="choice" value="선택" class="btn btn-block btn btn-success choiceBtn">
							</td>
						</tr>	
					</tbody>										
				</table>
				</div>
				<!-- /.card -->
			<!-- /.card -->
			</div>
			<!-- /.col-md-4 -->
			<div class="col-4">
				<div class="card">
				<table class="table table-bordered table-striped dataTable insertChange"role="grid">
						<div align="center">지급액</div>
					<tr>
						<th>급여항목</th>	
						<th>지급금액</th>
					</tr>
					<tr><td>기본급</td>
						<td><input type="text" id="basicPay" name="basicPay" class="form-control col-12"></td></tr>
					<tr><td>야간근무수당</td>								
						<td><input type="text" id="beneFit"name="beneFit" class=" form-control col-12"></td></tr>									
					<tr><td>휴일근무수당</td>				
						<td><input type="text" id="holidayPay"name="holidayPay" class="form-control col-12"></td></tr>					
					<tr><td>연장근무수당</td>					
						<td><input type="text" id="overtimePay"name="overtimePay" class="form-control col-12"></td></tr>																							
					<tr><td>직책수당</td>			
						<td><input type="text" id="positionBenefit"name="positionBenefit" class="form-control col-12"></td></tr>					
					<tr><td>자가운전보조금</td>				
						<td><input type="text" id="selfDriPay"name="selfDriPay" class="form-control col-12"></td></tr>					
					<tr><td>통신수당</td>				
						<td><input type="text" id="comPay"name="comPay" class="form-control col-12"></td></tr>					
					<tr><td>식대</td>					
						<td><input type="text" id="mealCost"name="mealCost" class="form-control col-12"></td></tr>					
					<tr><td>육아수당</td>								
						<td><input type="text" id="childPay"name="childPay" class="form-control col-12"></td></tr>
												
						<tr>
                    		<td align="left">과세 :
                    		</td><td align="right"><input type="text" id="sum1" class="form-control col-12" readonly="readonly"></td>
                    	</tr>
                    	<tr>	
                    		<td align="left">비과세 :</td>
                    		<td align="right"><input type="text" id="sum2" class="form-control col-12" readonly="readonly"></td>
                    	</tr>
                    	<tr>	
                    		<td align="left">지급액 계 :</td>
                    		<td align="right"><input type="text" id="sum3" class="form-control col-12" readonly="readonly"></td>
                		</tr>               										
				</table>
				</div>
				<!-- /.card -->
			</div>
			<div class="col-3"  id="deduct">
				<div class="card">
				<table class="table table-bordered table-striped dataTable"role="grid">
					<div align="center">공제액</div>
					<tr>
						<th>공제항목</th>					
						<th>공제금액</th>					
					</tr>
					<tr><td>국민연금</td>
						<td><input type="text" name="nationPer" id="nationPer" class="form-control col-12" readonly="readonly"></td></tr>
					<tr><td>건강보험</td>
						<td><input type="text" name="healthPer"  id="healthPer" class="form-control col-12" readonly="readonly"></td></tr>
					<tr><td>장기요양보험</td>
						<td><input type="text" name="longCare" id="longCare" class="form-control col-12" readonly="readonly"></td></tr>
					<tr><td>고용보험</td>
						<td><input type="text" name="inseurPer"  id="inseurPer" class="form-control col-12" readonly="readonly"></td></tr>
					<tr><td>소득세</td>
						<td><input type="text" name="one" id="one" class="form-control col-12" readonly="readonly"></td></tr>
					<tr><td>지방소득세</td>
						<td><input type="text" name="residentTax" id="residentTax" class="form-control col-12" readonly="readonly"></td></tr>
					<tr><td>공제액 계</td>
						<td><input type="text" id="sum4" class="form-control col-12" readonly="readonly"></td></tr>
						<tr><td colspan="2" align="left">차인지급액 :
						<input type="text" id="deductHap" class="form-control"  readonly="readonly"></td></tr>
				</table>
				</div>
					<form th:action="@{/admin/pay/selectPay}" method="post">
					    <input id="empCode" name="empCode" type="hidden" value="값확인">	
					    	<input class="basicPay" type="hidden" value="hidden">													
							<input class="beneFit" type="hidden" value="beneFit">													
							<input class="holidayPay" type="hidden" value="holidayPay">													
							<input class="overtimePay" type="hidden" value="overtimePay">													
							<input class="positionBenefit" type="hidden" value="positionBenefit">													
							<input class="selfDriPay" type="hidden" value="selfDriPay">													
							<input class="comPay" type="hidden" value="comPay">													
							<input class="childPay" type="hidden" value="childPay">													
							<input class="mealCost" type="hidden" value="mealCost">																																	
							<input class="nationPer" type="hidden" value="nationPer">																																	
							<input class="healthPer" type="hidden" value="healthPer">																																	
							<input class="longCare" type="hidden" value="longCare">																																	
							<input class="inseurPer" type="hidden" value="inseurPer">																																	
							<input class="inCode" type="hidden" value="inCode">																																	
							<input class="residentTax" type="hidden" value="residentTax">				    
						<button type="submit" value="급여지급액등록"  class="col-12 btn btn-success" id="check11">급여지급액등록</button>				
									
					</form>
														
					<!-- <a th:href="@{/admin/pay/selectPay(pay=${e.empCode})}" class="col-12 btn btn-success">급여지급액 등록</a>	 -->											
				
				<!-- /.card -->			
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!--검색조건  -->
<script type="text/javascript">
$(document).ready(function(){
	$('#sel').on('change', function() {
	    location.href= this.value;
	})
	//$('#sel').val(location.href);
}
</script>
<script type="text/javascript">
//값 넘기기
	$('#check11').click(function(){
		alert('클릭');
	var check = $('#empCode').val();
	console.log('값확인'+check);
	});
	
		
	
	
	
	
	$('.insertChange').change(function(){
		
		
		var add=parseInt(basicPay.value)+parseInt(beneFit.value)+parseInt(holidayPay.value)
		+parseInt(overtimePay.value)+parseInt(positionBenefit.value)+parseInt(comPay.value);
		sum1.value =add;
		var add2=parseInt(selfDriPay.value)+parseInt(childPay.value)+parseInt(mealCost.value);
		sum2.value=add2;
		//지급액계
		var add3=add+add2;
		sum3.value=add3;
		
		
		//국민연금 
		
		if (add > 4860000){
			alert("기준소득월액 4,860,000원이상은 국민연금 최대납부액 대상자입니다");
			$('#nationPer').val(218700);
		
		}else if (add < 310000){
			alert("기준소득월액 310,000원이하는 국민연금 최저납부액이 0원입니다");
			$('#nationPer').val(0);
		}else{
			$('#nationPer').val(Math.floor(Math.ceil((add*0.09)/2)/10)*10);
		}
		//고용보험
		if(add !=null){
			$('#inseurPer').val(Math.floor(Math.ceil((add*0.013)/2)/10)*10);
		}
		var nationPer=$('#nationPer').val();
		
		var inseurPer=$('#inseurPer').val();
		
		//건강보험
		if(add > 99250000){
			alert("기준소득월액 99,250,000원이상은 건강보험료 최대납부액은 대상자입니다");
			$('#healthPer').val(3205770);
		}else if (add < 280000){
			alert("기준소득월액 280,000원이하는 건강보험료 최저납부액이 0원입니다");
			$('#healthPer').val(0);
		}else{
			$('#healthPer').val(Math.floor(Math.ceil(add*0.0646)/2)/10*10);
		}
		var healthPer=$('#healthPer').val();
				
		if(healthPer >= 3205770){	
			$('#longCare').val(272810);
		}else if(healthPer <=9040){
			
			$('#longCare').val(0);
		}else{
			$('#longCare').val(Math.floor(Math.ceil(healthPer*0.0851))/10*10);
		}
		var longCare=$('#longCare').val();
		//공제액 합 		
	
		var one =$('#one').val();
	 	if(nationPer !=null && healthPer !=null && longCare !=null && inseurPer !=null && one !=null && residentTax !=null){
			$('#sum4').val(parseInt(nationPer)+parseInt(healthPer)+parseInt(longCare)+parseInt(inseurPer)+parseInt(one)+parseInt(residentTax));
		}			 					
		//차인지급액
		var deductHap1=parseInt(sum3.value)-parseInt(sum4.value);
		deductHap.value=deductHap1;
	});

</script>
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<script th:src="@{/custom/js/Pay.js}"></script>
<script type="text/javascript"th:inline="javascript">
var insertSearchPay=[[${insertSearchPay}]];
console.log(insertSearchPay);

</script>
</th:block>
</html>