<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>공제액 설정 화면</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">

</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				
				<h1 class="m-0 text-dark">공제액 설정</h1>

			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<form action="#" method="post">
					<table class="table table-bordered table-striped dataTable"role="grid"> 
					<div class="card" align="right" style="font-size: 1.5em;">단위:%</div>
						<tr>
							<th>연도</th>
							<th>국민연금</th>
							<th>건강보험료</th>
							<th> 장기요양보험료</th>
							<th>고용보험</th>				
														
						</tr>
						<tr th:each="d:${insertDeduct}">									
							<th id="year" th:text="${d.year}">연도</th>
							<th name="nationPer"id="nationPer" th:text="${d.nationPer}">국민연금</th>
							<th name="healthPer"id="healthPer" th:text="${d.healthPer}">건강보험료</th>
							<th name="longCare"id="longCare" th:text="${d.longCare}"> 장기요양보험료</th>
							<th name="inseurPer"id="inseurPer" th:text="${d.inseurPer}">고용보험</th>				
							
						</tr>	
					</table>
				</form>					
			
					<!-- Button trigger modal -->
<div align="center">			
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
	  공제액등록
	</button>
</div>	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body">
	       
	       <span id="year" class="sk">연도</span>	    	   
	    	   <input type="text" name="year"/></br>
	       <select>
		       <option value="국민연금">국민연금</option>
		       <input type="text" name="nation"/>
		    </select></br> 
		    <select>  
		       <option value="건강보험료">건강보험료</option>
		       <input type="text" name="health"/>
		    </select></br>
		    <select>   
		       <option value="장기요양보험료">장기요양보험료</option>
		       <input type="text" name="longCare"/>
		    </select></br>
		    <select>   
		       <option value="고용보험">고용보험</option>
		       <input type="text" name="inseurPer"/>
		    </select> 
	       		
	       		
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary">추가</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
	      </div>
	    </div>
	  </div>
	</div>
				<!-- /.card -->
			<!-- /.card -->
			</div>		
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<!-- <script th:src="@{/custom/js/Deduct.js}"></script> -->
<script type="text/javascript">
$('#myModal').on('shown.bs.modal', function () {
	  $('#myInput').focus()
	})

</script>
</th:block>
</html>