<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>급여입력</title>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h4 class="m-0 text-dark">급여 입력</h4>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->





</script>
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-5">
				<div class="card">
					<div align="center">사원목록</div>						
						<form action="/insertPay" method="get" id="insertPayForm">
							<div>
								<select class="form-control" name="sk" id="sel">
									<option value="">검색조건</option> 
									<option value="emp_num">사원코드</option>						
									<option value="emp_name" >사원명</option>
									<option value="dename" >부서명</option>
									<option value="poname">직급명</option>																					
								</select>																							
							</div>
							<div>
								<input class="form-control" type="text" name="sv" 
										 placeholder="검색어를 입력하세요"/>
							 </div>
							 <div>
								<button type="submit"id="searchBtn" class="btn btn-block bg-gradient-primary">Search</button>					
							</form>										
							</div>
  	 			<table class="table table-bordered table-striped dataTable"role="grid">  	   	 
				 	
					<tr>
								
						<th align="center">사원번호</th>
						<th align="center">사원명</th>
						<th align="center">부서명</th>
						<th align="center">직급</th>
						<th align="center">급여입력</th>

							
												
					</tr>
					<!--반복문 돌려서 사원코드,명,직급 뽑자  -->
					<tr class="insertPay" th:each="e :${insertSearchPay}">
						<td id="empNum"th:text="${e.empNum}"></td>		
						<td id="empName"th:text="${e.empName}"></td>					 										
						<td id="demgName"th:text="${e.demgName}"></td>										
						<td id="poName"th:text="${e.poName}"></td>															
							<input class="basicPay" type="hidden" th:value="${e.basicPay}">													
							<input class="beneFit" type="hidden" th:value="${e.beneFit}">													
							<input class="holidayPay" type="hidden" th:value="${e.holidayPay}">													
							<input class="overtimePay" type="hidden" th:value="${e.overtimePay}">													
							<input class="positionBenefit" type="hidden" th:value="${e.positionBenefit}">													
							<input class="selfDriPay" type="hidden" th:value="${e.selfDriPay}">													
							<input class="comPay" type="hidden" th:value="${e.comPay}">													
							<input class="childPay" type="hidden" th:value="${e.childPay}">													
							<input class="mealCost" type="hidden" th:value="${e.mealCost}">																																	
							<input class="nationPer" type="hidden" th:value="${e.nationPer}">																																	
							<input class="healthPer" type="hidden" th:value="${e.healthPer}">																																	
							<input class="longCare" type="hidden" th:value="${e.longCare}">																																	
							<input class="inseurPer" type="hidden" th:value="${e.inseurPer}">																																	
							<input class="incomePer" type="hidden" th:value="${e.incomePer}">																																	
							<input class="residentTax" type="hidden" th:value="${e.residentTax}">																																	
						<td>
							<input type="button" name="choice" value="선택" class="btn btn-block bg-gradient-primary choiceBtn">
						</td>
					</tr>										
				</table>
				</div>
				<!-- /.card -->
			<!-- /.card -->
			</div>
			<!-- /.col-md-4 -->
			<div class="col-4">
				<div class="card">
				<table class="table table-bordered table-striped dataTable"role="grid">
						<div align="center">지급액</div>
					<tr>
						<th>급여항목</th>	
						<th>지급금액</th>
					</tr>
					<tr><td>기본급</td>
						<td><input type="text" id="basicPay" name="basicPay" class="form-control col-12"></td></tr>
					<tr><td>야간근무수당</td>								
						<td><input type="text" id="beneFit"name="beneFit" class=" form-control col-12"></td></tr>									
					<tr><td>휴일근무수당</td>				
						<td><input type="text" id="holidayPay"name="holidayPay" class="form-control col-12"></td></tr>					
					<tr><td>연장근무수당</td>					
						<td><input type="text" id="overtimePay"name="overtimePay" class="form-control col-12"></td></tr>																							
					<tr><td>직책수당</td>			
						<td><input type="text" id="positionBenefit"name="positionBenefit" class="form-control col-12"></td></tr>					
					<tr><td>자가운전보조금</td>				
						<td><input type="text" id="selfDriPay"name="selfDriPay" class="form-control col-12"></td></tr>					
					<tr><td>통신수당</td>				
						<td><input type="text" id="comPay"name="comPay" class="form-control col-12"></td></tr>					
					<tr><td>식대</td>					
						<td><input type="text" id="mealCost"name="mealCost" class="form-control col-12"></td></tr>					
					<tr><td>육아수당</td>								
						<td><input type="text" id="childPay"name="childPay" class="form-control col-12"></td></tr>
												
						<tr>
                    		<td align="left">과세 :
                    		</td><td align="right"><input type="text" id="sum1"class="form-control col-12"></td>
                    	</tr>
                    	<tr>	
                    		<td align="left">비과세 :</td>
                    		<td align="right"><input type="text" id="sum2"class="form-control col-12"></td>
                    	</tr>
                    	<tr>	
                    		<td align="left">지급액 계 :</td>
                    		<td align="right"><input type="text" id="sum3" class="form-control col-12"></td>
                		</tr>               										
				</table>
				</div>
				<!-- /.card -->
			</div>
			<div class="col-3" id="deduct">
				<div class="card">
				<table class="table table-bordered table-striped dataTable"role="grid"> 				
					<div align="center">공제액</div>
					
					<tr>
						<th>공제항목</th>					
						<th>공제금액</th>					
					</tr>
					<tr><td>국민연금</td>
						<td><input type="text" id="nationPer" name="nationPer"class="form-control col-12"readonly="readonly"></td></tr>
					<tr><td>건강보험</td>
						<td><input type="text" id="healthPer" name="healthPer"class="form-control col-12"></td></tr>
					<tr><td>장기요양보험</td>
						<td><input type="text" id="longCare"  name="longCare"class="form-control col-12"></td></tr>
					<tr><td>고용보험</td>
						<td><input type="text" id="inseurPer" name="inseurPer"class="form-control col-12"></td></tr>
					<tr><td>소득세</td>
						<td><input type="text" id="incomePer" name="incomePer"class="form-control col-12"></td></tr>
					<tr><td>지방소득세</td>
						<td><input type="text" id="residentTax" name="residentTax"class="form-control col-12"></td></tr>
					<tr><td>공제액 계</td>
						<td><input type="text" id="deductHap" class="form-control col-12"></td></tr>
						<tr><td colspan="2" align="left">차인지급액 :
						<input type="text" name="deductHap" class="form-control"></td></tr>
					
				</table>			
				</div>
			<form action="/selectPay" method="post">
				<button type="submit" value="급여지급" class="col-12" align="center">							
					급여 지급액 등록
				</button>				
			</form>
			

				<!-- /.card -->
			
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!--검색조건  -->
<script type="text/javascript">
$(document).ready(function(){
	$('#sel').on('change', function() {
	    location.href= this.value;
	});
	$('#sel').val(location.href);
}

</script>
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<script th:src="@{custom/js/Pay.js}"></script>
<script type="text/javascript"th:inline="javascript">
var insertSearchPay=[[${insertSearchPay}]];
console.log(insertSearchPay);
</script>
</th:block>
</html>