<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>급여 조회</title>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h4 class="m-0 text-dark">급여 조회</h4>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-4">
				<div class="card">
  	 			<table class="table table-bordered table-striped dataTable"role="grid">  	   	 
				 	
					<tr><div align="center">사원목록</div>
						<th>사원코드</th>
						<th>사원명</th>
						<th>직급</th>
					</tr>
					<!--반복문 돌려서 사원코드,명,직급 뽑자  -->
						<tr>
							<td>사원코드1</td>
							<td>사원명1</td>
							<td>직급1</td>											
						</tr>						
				</table>
				</div>
				<!-- /.card -->
			<!-- /.card -->
			</div>
			<!-- /.col-md-4 -->
			<div class="col-4">
				<div class="card">
				<table class="table table-bordered table-striped dataTable"role="grid">
						<div align="center">지급액</div>
					<tr>
						<th>급여항목</th>	
						<th>지급금액</th>
					</tr>
					<tr><td>기본급</td>
						<td><input type="text" name="basicPay" class="form-control col-12"></td></tr>
					<tr><td>야간근무수당</td>								
						<td><input type="text" name="benefit" class=" form-control col-12"></td></tr>									
					<tr><td>휴일근무수당</td>				
						<td><input type="text" name="holidayPay" class="form-control col-12"></td></tr>					
					<tr><td>연장근무수당</td>					
						<td><input type="text" name="overtimePay" class="form-control col-12"></td></tr>					
					<tr><td>자격수당</td>				
						<td><input type="text" name="qualiPay" class="form-control col-12"></td></tr>					
					<tr><td>특수근무지수당</td>				
						<td><input type="text" name="specialPay" class="form-control col-12"></td></tr>					
					<tr><td>직책수당</td>			
						<td><input type="text" name="positionBenefit" class="form-control col-12"></td></tr>					
					<tr><td>자가운전보조금</td>				
						<td><input type="text" name="selfDriPay" class="form-control col-12"></td></tr>					
					<tr><td>통신수당</td>				
						<td><input type="text" name="comPay" class="form-control col-12"></td></tr>					
					<tr><td>식대</td>					
						<td><input type="text" name="mealCost" class="form-control col-12"></td></tr>					
					<tr><td>육아수당</td>								
						<td><input type="text" name="childPay" class="form-control col-12"></td></tr>
												
						<tr>
                    		<td align="left">과세 :
                    		</td><td align="right"><input type="text" class="form-control col-12"></td>
                    	</tr>
                    	<tr>	
                    		<td align="left">비과세 :</td>
                    		<td align="right"><input type="text" class="form-control col-12"></td>
                    	</tr>
                    	<tr>	
                    		<td align="left">지급액 계 :</td>
                    		<td align="right"><input type="text" class="form-control col-12"></td>
                		</tr>               										
				</table>
				</div>
				<!-- /.card -->
			</div>
			<div class="col-4">
				<div class="card">
				<table class="table table-bordered table-striped dataTable"role="grid"> 
					<div align="center">공제액</div>
					<tr>
						<th>공제항목</th>					
						<th>공제금액</th>					
					</tr>
					<tr><td>국민연금</td>
						<td><input type="text" name="nationPer" class="form-control col-12"></td></tr>
					<tr><td>건강보험</td>
						<td><input type="text" name="healthPer" class="form-control col-12"></td></tr>
					<tr><td>장기요양보험</td>
						<td><input type="text" name="longCare" class="form-control col-12"></td></tr>
					<tr><td>고용보험</td>
						<td><input type="text" name="inseurPer" class="form-control col-12"></td></tr>
					<tr><td>소득세</td>
						<td><input type="text" name="incomePer" class="form-control col-12"></td></tr>
					<tr><td>지방소득세</td>
						<td><input type="text" name="residentTax" class="form-control col-12"></td></tr>
					<tr><td>공제액 계</td>
						<td><input type="text" name="deductHap" class="form-control col-12"></td></tr>
						<tr><td colspan="2" align="left">차인지급액 :
						<input type="text" name="deductHap" class="form-control"></td></tr>
				</table>
				</div>				
				<!-- /.card -->
			</div>
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<!-- <script th:src="@{dist/js/pages/dashboard3.js}"></script> -->

</th:block>
</html>