<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>급여 대장</title>

</th:block>
<th:block layout:fragment="customCss">
<style type="text/css">


tr:hover{background: whitesmoke;}

</style>
<!-- DataTables -->
<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
</th:block>
<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h4 class="m-0 text-dark">급여 대장</h4>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

		<!-- div class="card">
	 	 <form action="#" id="boardListTable">
				<div>
				사원코드 : <input type="text" name="empCode">
				사원명 : <input type="text" name="empName">
				부서: <input type="text" name="demgName">
				직급 : <input type="text" name="poCode">
				<input type="submit"  class="btn btn-success" value="조회하기">
				</div>
			</form> 
				
		</div> -->

	<div class="card">	
		<div class="card-body" style="overflow: scroll;">
			<form class="boardListForm">
				<table class="table table-bordered table-striped" style="white-space:pre;  width:100%; height:auto;" id="boardListTable">
					<thead>					
       					<tr class='tblTitle'>     						
							<th>사원번호</th>
							<th>사원명</th>							       						
							<th>부서명</th>					
							<th>직급</th>					
							<th>기본급</th>					
							<th>차량유지비</th>
							<th>통신수당</th>
							<th>식대</th>
							<th>야간수당</th>
							<th>육아수당</th>
							<th>휴일수당</th>
							<th>연장수당</th>
							<th>직책수당</th>						
							<th>과세</th>
							<th>비과세</th>
							<th>지급액 계</th>					
							<th>국민연금</th>
							<th>건강보험</th>
							<th>장기요양보험</th>
							<th>고용보험</th>
							<th>소득세</th>
							<th>지방소득세</th>
							<th>공제액 계</th>
							<th>차인지급액</th>		
							<th>수정</th>		
									
						</tr>	
					</thead>
					
					<tbody>
						 <tr th:each="p ,index : ${payInsert}" style="cursor:pointer" class="tbodyClass">					 	
						 <td class="empNum" id="empNum "th:text ="${p.empNum}"></td>						 						 						
						 <td class="empName" id="empName" th:text="${p.empName}"></td>
						 <td class="demgName" id="demgName" th:text="${p.demgName}"></td>										
						 <td class="poName" id="poName" th:text="${p.poName}"></td>										
						 <td><input class="basicPay" id="basicPay" th:value="${p.basicPay}" readonly="readonly"></td>										
						 <td><input class="selfDriPay" id="selfDriPay" th:value="${p.selfDriPay}" readonly="readonly"></td>										
						 <td><input class="comPay" id="comPay" th:value="${p.comPay}" readonly="readonly"></td>										
						 <td><input class="mealCost" id="mealCost" th:value="${p.mealCost}" readonly="readonly"></td>
						 <td><input class="beneFit" id="beneFit" th:value="${p.beneFit}" readonly="readonly"></td>
						 <td><input class="childPay"  id="childPay"th:value="${p.childPay}" readonly="readonly"></td>										
					 	 <td><input class="holidayPay"  id="holidayPay" th:value="${p.holidayPay}" readonly="readonly"></td>										
						 <td><input class="overtimePay"  id="overtimePay" th:value="${p.overtimePay}" readonly="readonly"></td>										
						 <td><input class="positionBenefit"  id="positionBenefit" th:value="${p.positionBenefit}" readonly="readonly"></td>										
						 <td><input type="text"  class="taxation" id="taxation"></td>
						 <td class="taxFree" id="taxFree"></td>
						 <td class="Payment" id="Payment"></td>					 					
						 <td >국민연금</td>						 		
						 <td >건강보험</td>		
						 <td >장기요양보험</td>			
						 <td >고용보험</td>		
						 <td th:text="${p.one}"></td>		
						 <td >지방소득세</td>		
						 <td >공제액 계</td>		
						 <td >차인지급액</td>	
						 <td><a class="btn btn btn-success" th:href="@{/admin/pay/updatePay(empCode=${p.empCode})}">수정</a></td>		
						 </tr>
					</tbody>	
				</table>		
		
			</form>
	           	<!-- /.table -->
        </div>
	</div>

</th:block>

<th:block layout:fragment="customScript">
<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>
<script>
  $(function () {
    $('#boardListTable').DataTable();
    $('#boardListTable1').DataTable();
  });
 
 
</script>

<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<script th:src="@{/custom/js/Pay.js}"></script>

</th:block>
</html>