<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>퇴직금 조회</title>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h4 class="m-0 text-dark">퇴직금 조회</h4>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="content">
	<div class="col-12">
		<div class="card">
			<form th:href="@{/pay/selectRetiring}" method="post">
 				<div>
				<input type="date" name="retirng1">~<input type="date" name="retirng2">
				<button type="button">조회</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
  	 			<table class="table table-bordered table-striped dataTable"role="grid">  	   	 
				 	
					<tr>					
						<td align="center">사원번호</td>
						<td align="center">부서</td>
						<td align="center">직급</td>
						<td align="center">사원명</td>
						<td align="center">근속기간</td>
						<td align="center">입사일</td>
						<td align="center">퇴사일</td>
						<td align="center">퇴직금</td>				
					</tr>
						<!--반복문 돌려서 사원코드,명,직급 뽑자  -->
					 <tr th:each="s ,index :${selectRetiring}" class="selectRetiring">							
						 <input class="basicPay" type="hidden"id="basicPay" th:value="${s.basicPay}">									 									
						 <td th:text="${s.empNum}" align="center"></td>
						 <td th:text="${s.demgName}" align="center"></td>
						 <td th:text="${s.poName}" align="center"></td>
						 <td th:text="${s.empName}" align="center"></td>
						 <td th:text="${s.longevity}+'일'" align="right"></td><!--재직일수  -->										
						 <td th:text="${s.joinDate}" align="center"></td>										
						 <td th:text="${s.retireDate}" align="center"></td>										
						 <td class="severancePay" id="severancePay" th:text="${s.basicPay}*${s.longevity}/365"></td>
					</tr>						
				</table>
	
				</div>				
				<!-- /.card -->
			</div>
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<!-- <script th:src="@{/dist/js/pages/dashboard3.js}"></script> -->

</th:block>
</html>