<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>급여 대장</title>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h4 class="m-0 text-dark">급여 대장</h4>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="content">
	<div class="col-12">
		<div class="card">
			<form action="#">
				<div>
				사원코드 : <input type="text" name="empCode">
				사원명 : <input type="text" name="empName">
				부서: <input type="text" name="demgCode">
				직급 : <input type="text" name="poCode">
				<input type="submit"  class="btn btn-success" value="조회하기">
				</div>
			</form>
		</div>
	</div>
</div>
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
  	 			<table class="table table-bordered table-striped"role="grid">  	   	 
				 	
					<tr><div align="center">사원목록</div>
						<th>사원번호</th>
						<th>사원명</th>
						<th>부서명</th>
						<th>직급</th>					
						<th>기본급</th>					
						<th>자가운전보조금</th>
						<th>통신수당</th>
						<th>식대</th>
						<th>육아수당</th>
						<th>과세</th>
						<th>비과세</th>
						<th>지급액 계</th>					
					</tr>
					<tr>	
						<th>야간수당</th>
						<th>휴일수당</th>
						<th>연장수당</th>
						<th>직책수당</th>						
						<th>국민연금</th>
						<th>건강보험</th>
						<th>장기요양보험</th>
						<th>고용보험</th>
						<th>소득세</th>
						<th>지방소득세</th>
						<th>공제액 계</th>
						<th>차인지급액</th>
					<!--반복문 돌려서 사원코드,명,직급 뽑자  -->
						 <tr th:each="p :${payInsert}"> 
					 	
						 <td th:text="${p.empNum}"></td>						 
						 <td th:text="${p.empName}"></td>
						 <td th:text="${p.demgName}"></td>										
						 <td th:text="${p.poName}"></td>										
						 <td th:text="${p.basicPay}"></td>										
						 <td th:text="${p.selfDriPay}"></td>										
						 <td th:text="${p.comPay}"></td>										
						 <td th:text="${p.mealCost}"></td>										
						 <td th:text="${p.beneFit}"></td>
						 <td>과세계산</td>
						 <td>비과세계산</td>
						 <td>지급액계산</td>
					</tr>
					<tr th:each="p :${payInsert}">										
						 <td th:text="${p.holidayPay}"></td>										
						 <td th:text="${p.overtimePay}"></td>										
						 <td th:text="${p.positionBenefit}"></td>										
						 <td th:text="${p.childPay}"></td>										
						</tr>						
				</table>
				</div>
				<!-- /.card -->
			<!-- /.card -->
			</div>
			<!-- /.col-md-4 -->
			
			
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<!-- <script th:src="@{/dist/js/pages/dashboard3.js}"></script> -->

</th:block>
</html>