<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>타이틀</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
	
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">게시판 관리</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">공지사항</li>
					<li class="breadcrumb-item"><a th:href="@{/admin/board/boardInsert}" style="color:#28a745;">공지사항 작성</a></li>
					<li class="breadcrumb-item"><a th:href="@{/board/boardList}" style="color:#28a745;">공지사항 목록</a></li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

	<div class="content" style="align-content: center">
	 <div class="col-12">
	     <div class="card">
	     <form class="boardDetailForm">
	       <div class="card-header" th:each="b:${board}">
                <h4 th:text="|[${board.liCodeStr}] ${board.boardTitle}|">
                </h4>
                <div style="float:right">
	                <i class="fas fa-edit" style="padding-right:5px;cursor:pointer;"id="updateBtn" >수정</i>
	                <i class="fas fa-trash-alt" style="padding-right:5px;cursor:pointer;" id="deleteBtn">삭제</i>
	                <i class="fas fa-bars" id="backBtn" style="cursor:pointer;">목록</i>
                </div>
             
                <h6 style="color:#6c757d;">
                	<span style="float:left; padding-right:5px;" th:text="|작성자 : ${board.poname}|"></span>
                	<span style="float:left; padding-right:20px;" th:text="|${board.writer}|"></span>
                	<span style="float:left; padding-right:20px;" th:text="|작성일자 : ${board.writerDay}|"></span>
                	<span style="float:left;" th:text="|조회수 : ${board.boardCount}|"></span>
                </h6>
	       </div>
	       <!-- card-header ./div -->
	       	<div class="card-body" style="min-height:500px;">
	       		<table class="table table-condensed" >
	       			<thead th:utext="${board.boardCon}"></thead>
	       		</table>
	       			<input type="hidden" name="code" th:id="${board.code}" th:value="${board.code}">
	       			<input type="hidden" name="boardPw" th:value="${board.boardPw}" id="boardPw">
       				
	       	</div>
		</form>
			<div class="card-body">
				<div th:if="${board.boardFilePath} neq null">
					<span th:text="|첨부파일 : ${#strings.substring(board.boardFilePath,12)}|"></span>
					<a th:href="@{/board/downloadBoardFile(code=${board.code})}"></a>
				</div>
				<!-- <div th:if="${board.boardFilePath} eq null">
					<span th:text="|첨부파일 : ${#strings.substring(board.boardFilePath,12)}|"></span>
				</div> -->
			</div>
	     </div>
	     <!-- /.card -->
	     <!-- <div class="col-12">
	     	<div class="row" id="detailBtns">
			     <div class="col-4">
						<button type="button" id="backBtn" class="btn btn-block btn-success btn-lg">목록</button>
			     </div>
			      <div class="col-4">
			      		<button type="button" id="updateBtn" class="btn btn-block btn-success btn-lg">수정</button>
			      		<a class = "btn btn-block btn-success btn-lg" style="color: #ffffff" th:href="@{/boardUpdate(code=${board.code})}">수정</a>
			     </div>
			      <div class="col-4">
			      		<button type="button" id="deleteBtn" class="btn btn-block btn-success btn-lg">삭제</button>
						<a class = "btn btn-block btn-success btn-lg" style="color: #ffffff" th:href="@{/boardDelete(code=${board.code})}">삭제</a>
			     </div>
		     </div>
	     </div> -->
	 </div>
	 </div>
			<!-- /.row -->
		<!-- /.container-fluid -->
	</th:block>
	
	<th:block layout:fragment="customScript">
	<script type="text/javascript" th:inline="javascript">
	$(document).ready(function(){
	//liCode 비교해서 cate고리 따라서 보여주는 앞 태그 변경해주기
	//cardHeader 수정
		var board = [[${board}]];
		var liCode = board.liCode;
		var liCodeMStr = board.liCodeMStr;
	
	$(document).ready(function(){
		$('#backBtn').on('click', function(){	
			$('.boardDetailForm').attr('method', 'POST');
			$('.boardDetailForm').attr('action', '/board/boardList');
			$('.boardDetailForm').submit();
		});
	$('#updateBtn').on('click',function(){
		var dbPw = $('#boardPw').val();
			if (confirm("수정하시겠습니까?")){  //확인
				var inputPw = prompt('비밀번호를 입력하세요(1111)');
				if(dbPw==inputPw){
					$(document).Toasts('create', {
				        class: 'bg-success', 
				        title: 'password matched',
				        subtitle: 'success',
				        sticky : true,
				        body: '수정화면으로 이동합니다'
				      });
					$('.boardDetailForm').attr('method', 'POST');
					if(liCodeMStr=='전사게시판'){
						$('.boardDetailForm').attr('action', '/admin/board/goBoardUpdate');
					}else if(liCodeMStr=='부서게시판'){
						$('.boardDetailForm').attr('action', '/board/goBoardUpdate');
					}
					$('.boardDetailForm').submit();
				}else{
					alert('비밀번호가 일치하지 않습니다');
					return;
				}
			}else{   //취소
			    return;
			}	
	});
		
	$('#deleteBtn').on('click',function(){
		if (confirm("정말 삭제하시겠습니까??")){  //확인
			var dbPw = $('#boardPw').val();
			var inputPw = prompt('비밀번호를 입력하세요(1111)');
			if(dbPw==inputPw){
				$(function(){
					$(document).Toasts('create', {
				        class: 'bg-success', 
				        title: '게시글 삭제',
				        subtitle: 'success',
				        sticky : true,
				        body: '게시글 삭제가 완료되었습니다'
				      });
					document.delay(1000);
				});
				$('.boardDetailForm').attr('method', 'POST');
				$('.boardDetailForm').attr('action', '/admin/board/boardDelete');
				$('.boardDetailForm').submit();
				
			}else{
				alert('비밀번호가 일치하지 않습니다');
				
				return;
			}
		}else{   //취소
		    return;
		}
	
	})
		
	});
	});
	</script>
	
	</th:block>
	<script></script>
	</html>