<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}"
      >


<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>바뀐거 ㅇㅕ기여기</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<!-- summernote -->
  <link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.css">
</th:block>


<th:block layout:fragment="customContents">

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">게시판 관리 - 공지사항 </h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">공지사항 작성 </li>
					<li class="breadcrumb-item"><a th:href="@{/boardList}">공지사항 조회</a></li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
			
            	
             <div class="card-body">
              <div class="form-group">
                <label for="inputName">공지사항 제목 </label>
                <input type="text" id="inputName" placeholder="제목을 입력하세요 " class="form-control">
              </div>
            	  
              	<div class="row">
              
      			</div>
      		
              <div class="form-group">
                <label for="inputDescription">공지사항 내용 </label>
             
              <div class="mb-3">
                <textarea class="textarea" placeholder="Place some text here"
                          style="width: 100%; height: 500px; font-size: 14px; line-height: 50px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </div>	
             </div>
             
             <div class="form-group row col-sm-12">
	                    <label class="col-sm-2 col-form-label">작성자</label>
	                    <div class="col-sm-4">
	                      <input type="text" class="form-control col-12" name="writer" th:value="${session.SID}" readonly="readonly">
	                    </div>
             </div>
             
              <div class="row">
		        <div class="col-12">
		          <input type="submit" value="공지 작성하기" class="btn btn-success float-right">
		        </div>
		      </div>
            </div>
            <!-- /.card-body -->
				</div>
				</div>
				<!-- /.card -->
			<!-- /.card -->
			</div>
			<!-- /.col-md-6 -->
			
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- Summernote -->
<script src="../../plugins/summernote/summernote-bs4.min.js"></script>
<script>
  $(function () {
    // Summernote
    $('.textarea').summernote()
  })
</script>
</th:block>
</html>