<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}"
      >


<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>글 수정하기 </title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<!-- summernote -->
<link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.css}">
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">글 수정하기</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">글수정하기</li>
					<li class="breadcrumb-item"><a th:href="@{/board/boardList}" style="color:#28a745;">전사게시판</a></li>
					<li class="breadcrumb-item"><a th:href="@{/board/departBoardList}" style="color:#28a745;">부서게시판</a></li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="card" >
					<form class="boardUpdateForm" th:each="b:${board}">
					         <div class="card-body">
						          <div class="form-group row col-sm-12">
										<label class="col-sm-2 col-form-label">제목 </label>
							            <div class="col-sm-10">
							            	<input type="hidden" name="code" th:value="${b.code}">
							            	<input type="hidden" name="empCode" th:value="${b.empCode}">
							            	<input type="hidden" name="liCode" th:value="${b.liCode}">
							            	<input type="hidden" name="writerDay" th:value="${b.writerDay}">
							            	<input type="hidden" name="boardCount" th:value="${b.boardCount}">
							            	<input type="text" id="inputName" th:value="${b.boardTitle}" name="boardTitle" class="form-control">
							         	 </div>
						          </div>
						          <div class="form-groupb row col-sm-12">
						            	<label class="col-sm-2 col-form-label"> 내용 </label>
						            	<div class="col-sm-10">
							            	<div class="mb-3">
							            	<textarea class="textarea"  name="boardCon" th:utext="${b.boardCon}"
						                      	style="width: 100%; height: 500px; font-size: 14px;
												line-height: 50px; border: 1px solid #dddddd; padding: 10px;">
											</textarea>
						             		</div>
					            		 </div>
						           </div>
						     
						            <div class="form-group row col-sm-12">
						                    <label class="col-sm-2 col-form-label">작성자</label>
							                    <div class="col-sm-4">
							                      <input type="text" class="form-control col-12" th:value="${b.writer}" readonly="readonly">
							                    </div>
						                    <label class="col-sm-2 col-form-label">비밀번호</label>
							                    <div class="col-sm-4">
							                      <input type="password" class="form-control col-12" th:value="${b.boardPw}" name="boardPw" >
							                    </div>
									</div> 
			  	   					<div class="form-group row col-sm-12">
			  	   						<div class="col-sm-10"></div>
			     						<button type="button" id="updateSubmit" class="col-sm-2 btn btn-block btn-success btn-sm" style="float:right;">수정하기</button>
									</div>
					         </div> <!-- /.card-body -->
					</form>
     			</div>	<!-- /.card -->
			</div>	<!-- /.col-lg-12 -->
		 </div>		<!-- /.row -->
            
           
	</div>	<!-- /.container-fluid -->
</div>		<!-- /.contents -->
</th:block>

<th:block layout:fragment="customScript">
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<script>
  $(function(){
    // Summernote
    $('.textarea').summernote();
  });
</script>

<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){
	var board = [[${board}]];
	console.log(board);
	$('#updateSubmit').on('click', function(){
		 $(document).Toasts('create', {
		        class: 'bg-success', 
		        title: 'BOARD EDIT SUCCESS',
		        sticky : true,
		        body: '게시물 수정이 완료되었습니다'
		});
	$('.boardUpdateForm').attr('method', 'POST');
	$('.boardUpdateForm').attr('action', '/board/departBoardUpdate');
	$('.boardUpdateForm').submit();
	});
});
  
</script>

</th:block>
</html>