<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>부서게시판</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<style type="text/css">
tr:hover{background: whitesmoke;}
</style>
<!-- DataTables -->
<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">부서게시판</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a th:href="@{/board/boardList}" style="color:#28a745;">전사게시판</a></li>
					<li class="breadcrumb-item">부서게시판</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- 부서게시판 수정하는 모달  -->
<div class="modal fade" id="modalUpdate" style="padding-right: 15px;" aria-modal="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
	    <div class="modal-header">
	      <h4 class="modal-title">수정하는 모달 </h4>
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span aria-hidden="true">×</span>
	      </button>
	    </div>
	    <div class="modal-body">
	      <p>나와라 얍 </p>
	    </div>
	    <div class="modal-footer justify-content-between">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      <button type="button" class="btn btn-primary">Save changes</button>
	    </div>
	  </div>
	  <!-- /.modal-content -->
	</div>
        <!-- /.modal-dialog -->
</div>

<!-- 부서게시판 전체 리스트 -->
<div class="content" style="align-content: center">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<h5 style="margin-top: 0.5rem;">부서게시판 </h5>
				</div>
				<button type="button" style="float:right;"class="btn btn-success" onclick="location.href='/board/departBoardInsert'" >글쓰기</button>
			</div>
	       
		<div class="card-body">
			<form class="boardListForm">
				<table class="table table-head-fixed jsgrid-align-center" style="white-space:nowrap; overflow:auto;  width:100%; height:auto;" id="boardListTable">
					<thead>
						<tr>
							<th>순차</th>
							<th style="width:500px;">글제목</th>
							<th>작성자</th>
							<th style="width:100px;">조회수</th>
							<th style="width:100px;">작성일자</th>
							<th>수정</th>
							<th>삭제</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="b ,index : ${departBoardList}" class="departBoardListTr" style="cursor:pointer">
							<td th:text="${index.index+1}"></td>
							<td class="boardTitle" th:id="${b.code}" th:text="${b.boardTitle}"></td>
							<td th:text="${b.writer}"></td>
							<td th:text="${b.boardCount}"></td>
							<td th:text="${b.writerDay}"></td>
							<td class="upBtnTd">
								<input type="button" id="upBtnList" value="수정" class="btn btn-block btn-outline-success btn-xs">
							</td>
							<td class="delBtnTd">
								<input type="button" id="delBtnList" value="삭제" class="btn btn-block btn-outline-success btn-xs">
							</td>
						</tr>
					</tbody>
				</table>
			</form>
	           	<!-- /.table -->
        </div>
	        <!-- /.card-body -->
	     </div>
	     <!-- /.card -->
	     
	 </div>
 </div>
<!-- /.row -->
<!-- /.container-fluid -->
</th:block>

<th:block layout:fragment="customScript">
<script>
$(document).ready(function(){
	$('.upBtnTd').on('click', 'input', function(){
		alert('ok');
	}
	//$('#modalUpdate').modal();
}

</script>

<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>
<script>
  $(function () {
    $('#boardListTable').DataTable();
  });
</script>


<script type="text/javascript">
	/* $(document).ready(function(){
		$('#boardListTable tbody').on('click', 'tr', function(){	
			var boardUrl = $(this).children('.boardTitle');	// 하위요소 td 변수저장
			boardUrl.append('<input type="hidden" name="code" val="">');	// td 안쪽에 히든 인풋 생성
			var boardCode = boardUrl.attr('id');	// code id벨류값 추출
			$('input[name=code]').val(boardCode);	// 히든 인풋 벨류에 코드값 대입
			$('.boardListForm').attr('method', 'POST');	// 폼 메서드 정의
			$('.boardListForm').attr('action', '/board/boardDetail');	// 액션 경로 정의
			$('.boardListForm').submit();	// 전송
		});
	}); */
</script>
</th:block>
</html>