<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<!-- 사용자 CSS-->
<th:block layout:fragment="customCss">

<!-- fullCalendar -->
<link rel="stylesheet" th:href="@{/plugins/fullcalendar/main.min.css}">
<!-- <link rel="stylesheet" th:href="@{/plugins/fullcalendar-interaction/main.min.css}"> -->
<link rel="stylesheet" th:href="@{/plugins/fullcalendar-daygrid/main.min.css}">
<link rel="stylesheet" th:href="@{/plugins/fullcalendar-timegrid/main.min.css}">
<link rel="stylesheet" th:href="@{/plugins/fullcalendar-bootstrap/main.min.css}">  
</th:block>

<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div>
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>시설물 이용 신청</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#" style="color:#006633;">Home</a></li>
							<li class="breadcrumb-item">예약 관리</li>
							<li class="breadcrumb-item active">시설물 이용 신청</li>
						</ol>
					</div>
				</div>
			</div>
		</section>

		<!-- 예약 등록 Modal -->
		<div class="modal fade1" id="myModal1" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form th:action="@{#}" method="post" name="actionFrom" id="formInsert">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">시설물 예약 하기</h4>
						</div>
						<div class="modal-body">
							<div class="content">
								<div class="container-fluid">
									<div>
										<div>
											<div class="card">
												<table style="text-align: center;">
													<tr>
														<td style="width: 150px;">사용 시작일</td>
														<td><input class="form-control form-control-lg inputValue"
															type="datetime-local" style="width: 100%; font-size: small;"
															id="reStart" name="reStart"></td>
													</tr>
													<tr>
														<td style="width: 150px;">사용 종료일</td>
														<td><input class="form-control form-control-lg inputValue"
															type="datetime-local" style="width: 100%; font-size: small;"
															id="reEnd" name="reEnd"></td>
													</tr>
													<tr>
														<td style="width: 150px;">예약 시설명</td>
														<td>
															<select class="form-control form-control-lg"
																style="font-size: medium;" name="beCode" id="beCode">
																	<!-- <option th:each="s : ${selectBeBox}" th:text="${s.beName}" th:value="${s.beCode}"></option> -->
															</select>
														</td>

													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">취소</button>
							<input type="button" value="예약 하기" class="btn btn-primary"
								id="insertBtn">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- 예약 등록 Modal -->
		
		<!-- 예약 수정&삭제 Modal -->
		<div class="modal fade2" id="myModal2" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form th:action="@{#}" method="post" id="formUpdateId">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">예약 수정하기</h4>
						</div>
						<div class="modal-body">
							<div class="content">
								<div class="container-fluid">
									<div>
										<div>
											<div class="card">
												<table style="text-align: center;">
													<tr>
														<td style="width: 150px;">사용 시작일</td>
														<td><input class="form-control form-control-lg inputValue"
															type="datetime-local" style="width: 100%; font-size: small;"
															id="reStartUp" name="reStart"></td>
													</tr>
													<tr>
														<td style="width: 150px;">사용 종료일</td>
														<td><input class="form-control form-control-lg inputValue"
															type="datetime-local" style="width: 100%; font-size: small;"
															id="reEndUp" name="reEnd"></td>
													</tr>
													<tr>
														<p class="text-danger" style="text-align: center;">* 수정시 예약 시설물과 예약일을 꼭 확인해주세요.</p>
														<td style="width: 150px;">예약 시설물</td>
														<td>
															<select class="form-control form-control-lg"
																style="font-size: medium;" name="beCode" id="beCodeUp">
																	<!-- <option th:each="s : ${selectBeBox}" th:text="${s.beName}" th:value="${s.beCode}"></option> -->
															</select>
															<input type="hidden" name="code" id="hiddenCode">
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
							<input type="button" value="예약 수정하기" class="btn btn-primary" id="updateBtn">
							<input type="button" value="예약 삭제하기" class="btn btn-primary" id="deleteBtn">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- 예약 수정&삭제 Modal -->

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row" style="justify-content: center;">
					<div>
						<div class="sticky-top mb-3">
							<div class="content">
								<div>
									<!-- the events -->
									<div id="external-events"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-md-9">
						<div class="card card-primary">
							<div class="card-body p-0">
								<!-- THE CALENDAR -->
								<div id="calendar"></div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->


	<aside class="control-sidebar control-sidebar-dark"></aside>

<th:block layout:fragment="customScript">

<!-- fullCalendar 2.2.5 -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/fullcalendar/main.min.js}"></script>
<script th:src="@{/plugins/fullcalendar-daygrid/main.min.js}"></script>
<script th:src="@{/plugins/fullcalendar-timegrid/main.min.js}"></script>
<script th:src="@{/plugins/fullcalendar-interaction/main.min.js}"></script>
<script th:src="@{/plugins/fullcalendar-bootstrap/main.min.js}"></script>
<!-- Page specific script -->
<script th:src=@{/custom/js/assetsBeManage.js}></script>
<!-- 세션의 사원번호를 저장하는 스크립트 -->
<script type="text/javascript" th:inline="javascript"> var sid = [[${session.SID}]] </script>
</th:block>
</html>
