<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
	layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>차량 관리</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<!-- DataTables -->
<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
</th:block>


<th:block layout:fragment="customContents">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">차량 관리</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#" style="color:#006633">Home</a></li>
						<li class="breadcrumb-item">자산 관리</li>
						<li class="breadcrumb-item active">차량 관리</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	
<!-- 차량 등록 시작  -->
<form th:action="@{#}" method="post" id=formInput>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="card col-lg-8" style="text-align: center;">
				<div style="align-self:center; width:90%;">
					<div id="accordion1">
						<!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
						<div class="card card-primary small" style="margin-top: 15px; background-color: #006633;">
							<div class="card-header" style="align-self: center;">
								<h4 class="card-title">
									<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" class="" aria-expanded="false" style="color : white;"> 차량 등록 하기 </a>
								</h4>
							</div>
							<div id="collapseOne1" class="panel-collapse in collapse" style="background-color: white;">
							<div class="card-body" style="text-align: -webkit-center;">
								<table style="text-align: center;">
									<tr>
										<td style="width:150px;">제조사</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="제조사를 입력해주세요" id="inVeMake" name="veMake">
										</td>
										
										<td style="width:150px;">차량명</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="차량명을 입력해주세요" id="inVeName" name="veName">
										</td>
									</tr>
									<tr>
										<td style="width:150px;">차량번호</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="차량번호를 입력해주세요" id="inVeNunber" name="veNunber">
											<div id="name_checkCar"></div>
										</td>
										
										<td style="width:150px;">배기량</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="예) 2500" id="inVeCc" name="veCc">
										</td>
									</tr>
									<tr>
										<td style="width:150px;">용도</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="에)외근용? 맞나요?" id="inVeUse" name="veUse">
										</td>
										
										<td style="width:150px;">상태</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="사용가능 OR 사용안함" id="inFaSt" name="faSt">
										</td>
									</tr>
									<tr>
										<td style="width:150px;">차량연식</td>
										<td>
											<input class="form-control form-control-lg" type="date" style="width:100%; 
											font-size: small;" id="inVeModelYear" name="veModelYear">
										</td>
										
										<td style="width:150px;">구입연도</td>
										<td>
											<input class="form-control form-control-lg" type="date" style="width:100%; 
											font-size: small;" id="inVeBuy" name="veBuy">
										</td>
									</tr>
									<tr>
										<td colspan="4" class="insertCarBtn">
											<input type="button" value="등록하기" class="btn btn-primary btn-lg" id="inCarBtn">
										</td>
									</tr>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	</div>
</form>
<!-- 차량 등록 끝  -->

<!-- 차량 수정 시작 -->
<form th:action="@{#}" method="post" id="formUpdate">
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">차량 정보 수정</h4>
							</div>
								<div class="modal-body">
									<table style="text-align: center;">
										<tr>
											<td style="width:150px;">차량 관리 코드</td>
											<td>
												<input class="form-control form-control-lg updateValue" type="text" style="width:100%; 
												font-size: small;" id="code" name="code" readonly="readonly">
											</td>
											<td>
												<p class="text-danger">*관리코드는 수정 할 수 없습니다.</p>
											</td>
										</tr>
											<tr>
										<td style="width:150px;">제조사</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="제조사를 입력해주세요" id="upVeMake" name="veMake">
											<div id="name_checkBe"></div>
										</td>
										
										<td style="width:150px;">차량명</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="차량명을 입력해주세요" id="upVeName" name="veName">
										</td>
									</tr>
									<tr>
										<td style="width:150px;">차량번호</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="차량번호를 입력해주세요" id="upVeNunber" name="veNunber">
											<div id="name_checkCarUp"></div>
										</td>
										
										<td style="width:150px;">배기량</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="예) 2500" id="upVeCc" name="veCc">
										</td>
									</tr>
									<tr>
										<td style="width:150px;">용도</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="에)외근용? 맞나요?" id="upVeUse" name="veUse">
										</td>
										
										<td style="width:150px;">상태</td>
										<td>
											<input class="form-control form-control-lg" type="text" style="width:100%; 
											font-size: small;" placeholder="사용가능 OR 사용안함" id="upFaSt" name="faSt">
										</td>
									</tr>
									<tr>
										<td style="width:150px;">차량연식</td>
										<td>
											<input class="form-control form-control-lg" type="date" style="width:100%; 
											font-size: small;" id="upVeModelYear" name="veModelYear">
										</td>
										
										<td style="width:150px;">구입연도</td>
										<td>
											<input class="form-control form-control-lg" type="date" style="width:100%; 
											font-size: small;" id="upVeBuy" name="veBuy">
										</td>
									</tr>
									</table>
								</div>
							<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" id="updateCarBtn">수정하기</button>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- 차량 수정 끝-->

<!-- 차량 리스트 시작 -->
<div class="content" style="align-content: center">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">시설물 목록</h3>
			</div>
			<div class="card-body table-responsive p-0" style="overflow-x: scroll;">
				 <form th:action="@{#}" method="post" id="deleteForm">
					<table class="table table-hover"  style="white-space:nowrap; overflow:auto;  width:100%; height:auto; text-align: center;" id="boardListTable">
						<thead>
							<tr>
								<th>차량 관리코드</th>
								<th>제조사명</th>
								<th>차량명</th>
								<th>차량번호</th>
								<th>배기량</th>
								<th>사용용도</th>
								<th>구입연도</th>
								<th>차량연식</th>
								<th>상태</th>
								<th>작성자</th>
								<th>작성일자</th>
								<th>수정</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody style="font-size: 0.86rem;">
							<tr th:each="c :${carList}" class="AssetsListTr">
								<td id="upCode" th:text="${c.code}"></td>
								<td id="veMake" th:text="${c.veMake}"></td>
								<td id="veName"  th:text="${c.veName}"></td>
								<td id="veNunber"  th:text="${c.veNunber}"></td>
								<td id="veCc"  th:text="${c.veCc}"></td>
								<td id="veUse"  th:text="${c.veUse}"></td>
								<td id="veBuy"  th:text="${c.veBuy}"></td>
								<td id="veModelYear"  th:text="${c.veModelYear}"></td>
								<td id="faSt"  th:text="${c.faSt}"></td>
								<td id="writer"  th:text="${c.deName+'-'+c.empName}"></td>
								<td id="writerDay"  th:text="${c.writerDay}"></td>
								<td class="updateCar">
									<input type="button" id="updateCaBtn" value="수정" class="btn btn-block btn-primary">
								</td>
								<td class="deleteCarBtn">
									<input type="button" id="deleteCar" value="삭제" class="btn btn-block btn-primary">
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			<!-- /.table -->
			</div>
		<!-- /.card-body -->
		</div>
	<!-- /.card -->
	</div>
</div>
</th:block>
</th:block>
<!-- 차량 리스트 끝 -->

<th:block layout:fragment="customScript">
<!-- 자산관리에 해당하는 모든 스크립트 -->
<script th:src="@{/custom/js/assets.js}"></script>
<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>
<script>
  $(function () {
    $('#boardListTable').DataTable();
  });
</script>
</th:block>
</html>