<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>문서양식 등록</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">

<style>
/* sign_type1 */
div.sign_type1 {display: inline-block; margin-right: -1px; font-size: 12px}
div.sign_type1.last table.tb_sign_type1 {border-left: 0}
div.sign_type1 table.tb_sign_type1, table.sign_member {border-spacing: 0; border-collapse: collapse; width: 60px}
div.sign_type1 table.tb_sign_type1 {border: 1px solid #666}
div.sign_type1 table.tb_sign_type1 tbody tr th {width: 15px; background: #eee; padding: 6px; text-align: center; word-break: break-word; white-space: normal}
div.sign_type1 table.tb_sign_type1 tbody tr td {border-left: 1px solid #666; padding: 0!important}
div.sign_type1 table.tb_sign_type1 tbody tr td table.sign_member tbody tr td {height: 26px; border-left: 0; border-bottom: 1px solid #666; min-height:26px; vertical-align: middle}
div.sign_type1 table.tb_sign_type1 tbody tr td table.sign_member tbody tr td.wrap_sign {height: 74px; text-align: center;}
div.sign_type1 table.tb_sign_type1 tbody tr td table.sign_member tbody tr td.last {border-bottom: 0}
div.sign_type1 table.tb_sign_type1 tbody tr td table.sign_member tbody tr td span {display: block; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 70px; padding: 2px 4px; font-size:12px }
div.sign_type1 table.tb_sign_type1 tbody tr td table.sign_member tbody tr td span.sign_name {height: auto;}
div.sign_type1 table.tb_sign_type1 tbody tr td table.sign_member tbody tr td span.arbitrary {background: url(../images/arbitrary.gif) no-repeat}
div.sign_type1 table.tb_sign_type1 tbody tr td table.sign_member tbody tr td span img {width: auto; height: 100%}
div.sign_type1 table.tb_sign_type1 tbody tr td table.sign_member tbody tr td span.doc_return {padding: 0;}


.display_block {display: block;}
div.sign_type1 table {width: 100%;}
.sign_type1_title {padding: 3px !important; border: 0px solid black; border-image: none; width: 100%; height: 90px; text-align: center; font-size: 22px; font-weight: bold; vertical-align: middle;}
.sign_type1_td_name {background: rgb(221, 221, 221); padding: 3px !important; border: 1px solid black; border-image: none; width: 80px; height: 22px; text-align: center; font-weight: bold; vertical-align: middle;}
.sign_type1_td_value {padding: 3px !important; border: 1px solid black; border-image: none; width: 120px; height: 22px; text-align: left; vertical-align: middle;}
.sign_type1_tb_sign {padding: 0px !important; border: 0px currentColor !important; border-image: none !important; width: 500px; text-align: right; vertical-align: top !important;}

.sign_type1_td_codMainName {background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; border-image: none; height: 25px; text-align: center; color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;}
.sign_type1_td_codMainValue {background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; border-image: none; height: 25px; text-align: left; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; vertical-align: middle;}
.sign_type1_td_codMaintext {background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; border-image: none; text-align: left; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal; vertical-align: top;}

</style>

</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				
				<h1 class="m-0 text-dark">전자결재문서양식</h1>

			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12" style="text-align: -webkit-center;">
				<div class="card">
					<!-- 전자결재 문서 시작 -->
					<div>
						<!-- 전자결재 툴바 시작 -->
						<div>
							<span><i class="fas fa-sign-in-alt">결재요청</i></span>
						</div>
						<!-- 전자결재 툴바 끝 -->
						<!-- 전자결재 레이아웃 시작 -->
						<section>
							<!-- 전자결재 댓글 포함 상세 시작 -->
							<div>
								<!-- 전자결재 내용 시작 -->
								<div class="col-lg-10 sign_type1" style="outline: double; text-align: -webkit-center;">
									<form>
										<!-- 헤더 시작 -->
										
										
										
<table>
	<tbody>
		<tr>
			<td class="sign_type1_title" colspan="2">휴가 신청서</td>
		</tr>
		<tr>
			<td>
				<table>
					<tbody class="display_block">
						<tr>
							<td class="sign_type1_td_name">문서번호</td>
							<td class="sign_type1_td_value" colspan="3"><span>DOC-20191219000001</span></td>
						</tr>
						<tr>
							<td class="sign_type1_td_name">공개여부</td>
							<td class="sign_type1_td_value"><span>공개</span></td>
							<td class="sign_type1_td_name">보존기한</td>
							<td class="sign_type1_td_value"><span>2년</span></td>
						</tr>
						<tr>
							<td class="sign_type1_td_name">작성일자</td>
							<td class="sign_type1_td_value" colspan="3"><span>2019-12-18(수)</span></td>
						</tr>
						<tr>
							<td class="sign_type1_td_name">부서</td>
							<td class="sign_type1_td_value"><span>인사팀</span></td>
							<td class="sign_type1_td_name">직급</td>
							<td class="sign_type1_td_value"><span>부장</span></td>
						</tr>
						<t>
							<td class="sign_type1_td_name">이름</td>
							<td class="sign_type1_td_value" colspan="3"><span>김다혜</span></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td class="sign_type1_tb_sign"><br>
				<div class="sign_type1" data-group-name="결재">
					<table class="tb_sign_type1">
						<tbody>
							<tr>
								<th>결재</th>
								<td>
									<table class="sign_member" id="activity_14315">
										<tbody>
											<tr>
												<td><span>과장</span></td>
											</tr>
											<tr>
												<td class="wrap_sign">
													<span class="sign_name">김다우</span>
												</td>
											</tr>
											<tr>
												<td class="last">
													<span id="date_14315">2019/12/18</span>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td>
									<table class="sign_member" id="activity_14316">
										<tbody>
											<tr>
												<td>
													<span>부장</span>
												</td>
											</tr>
											<tr>
												<td class="wrap_sign">
													<span class="sign_name">김은수</span>
												</td>
											</tr>
											<tr>
												<td class="last">
													<span id="date_14316"></span>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
			</td>
		</tr>
	</tbody>
</table>



<!-- 휴가 신청 --> 
<table>
	<colgroup> 
		<col width="120">
		<col width="680">
	</colgroup>
	<tbody>
		<tr>
			<td class="sign_type1_td_codMainName"><b style="color: red;">*</b> 휴가 종류</td>
			<td class="sign_type1_td_codMainValue abcd">
				<span data-selectval="연차">연차</span>
			</td>
		</tr>
		<tr>
			<td class="sign_type1_td_codMainName"><b style="color: red;">*</b> 휴가 기간</td>
			<td class="sign_type1_td_codMainValue">
				<span data-selectval="2019-12-19(목) ~ 2019-12-19(목)  사용일수: 1일">2019-12-19(목) ~ 2019-12-19(목) <strong>사용일수:</strong> 1일</span>
			</td>
		</tr>
		<tr>
			<td class="sign_type1_td_codMainName" style="height: 80px;"><b style="color: red;">*</b> 휴가 사유</td>
			<td class="sign_type1_td_codMainValue">
				<span data-select="개인사정">개인사정</span>
			</td>
		</tr>
	</tbody>
</table>

<span style="display: block; text-align: left;">
	<br><strong>[당일 반차 신청시]</strong>
		시작일만 오전/오후 체크<br>
	<strong>[예비군/민방위 신청시]</strong>
		통지서 스캔하여 파일 첨부<br>
	<strong>[경조휴가 신청시]</strong>
		증빙서류 스캔하여&nbsp;파일 첨부 (예: 청첩장 등본 등)<br>&nbsp;<br>&nbsp;<br>
	<br>
</span>

										
										
										
										
										<!-- 헤더 끝 -->
									</form>
								</div>
								<!-- 전자결재 내용 끝 -->
							</div>
							<!-- 전자결재 댓글 포함 상세 끝 -->
						</section>
						<!-- 전자결재 레이아웃 끝-->
					</div>
					<!-- 전자결재 문서 끝 -->
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- ajax 호출 -->
<script th:src="@{/custom/js/ajaxCall.js}"></script>
<!--
 * var sendData = {};
 * sendData.ajaxType = 'POST';	// 전송타입
 * sendData.ajaxUrl = '/ajax';	// 호출 주소
 * sendData.ajaxDataType = 'json';	// 리턴 타입
-->

<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){
	$('.abcd').on('click', function(){
		var a = prompt('입력하세요','');
		$(this).children('span').text(a);
	});
});
</script>
</th:block>
</html>