<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>거래처관리</title>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">거래처 관리</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Dashboard v3</a></li>
					<li class="breadcrumb-item">Dashboard v3</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<!-- <div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="row"> -->
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">거래처 정보 리스트</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;" >
              
                <table class="table table-head-fixed jsgrid-align-center" style="white-space:nowrap; overflow:auto;  width:500px; height:150px;">
                  <thead>
                    <tr>
                      <th>거래처관리코드</th>
                      <th>목록관리코드</th>
                      <th>운영여부</th>
                      <th>거래처명</th>
                      <th>대표자명</th>
                      <th>사업장주소</th>
                      <th>사업자등록번호</th>
                      <th>팩스번호</th>
                      <th>대표자번호</th>
                      <th>거래처번호</th>
                      <th>이메일</th>
                      <th>등록자</th>
                      <th>등록일</th>
                      <th>승인자</th>
                      <th>승인일</th>
                      <th>승인상태</th>
                      <th>수정</th>
                      <th>삭제</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="l : ${clientList}">
						<td th:text="${l.code}"></td>
						<td th:text="${l.liCode}"></td>
						<td th:text="${l.liCode2}"></td>
						<td th:text="${l.accName}"></td>
						<td th:text="${l.accCeoName}"></td>
						<td th:text="${l.accAddr}"></td>
						<td th:text="${l.accBln}"></td>
						<td th:text="${l.accFax}"></td>
						<td th:text="${l.repreNumber}"></td>
						<td th:text="${l.accPhone}"></td>
						<td th:text="${l.accEmail}"></td>
						<td th:text="${l.writer}"></td>
						<td th:text="${l.writerDay}"></td>
						<td th:text="${l.approver}"></td>
						<td th:text="${l.approDay}"></td>
						<td th:text="${l.approverSt}"></td>
						
						<td>
							<!-- /modifyMember?memberId="값"&memberPw="값" -->
							<!-- <a th:href="@{/modifyMember(memberId=${l.memberId})}">수정</a> -->
							<a>수정</a>
						</td>
						<td>
							<!-- <a th:href="@{/delMember(memberId=${l.memberId})}">삭제</a> -->
							<a>삭제</a>
						</td>
					</tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
				<!-- <div class="card">
				알아서 사용하세요
				</div> -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
</th:block>

<th:block layout:fragment="customScript">
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<!-- <script th:src="@{dist/js/pages/dashboard3.js}"></script> -->

</th:block>
</html>