<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">
      
<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>거래처관리</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<style type="text/css">
tr:hover{background: whitesmoke;}
</style>
<!-- DataTables -->
<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">거래처(전체) 목록</h1>
			</div><!-- /.col -->
			
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a th:href="@{/client/clientList2}"  style="color:#28a745;">거래처(거래진행중) 목록</a></li>
					<li class="breadcrumb-item">거래처(전체) 목록</li>
				</ol>
			</div><!-- /.col -->
			
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content" style="align-content: center">
	   <div class="col-12">
		     	<div class="card">
				       <div class="card-header">
				         	<h3 class="card-title">전체 거래처 리스트</h3>
				      	</div><!--  /.card-header -->
	       
				       <div class="card-body">
						       <form class="clientListForm">
							         <table id="clientListTable" class="table table-head-fixed jsgrid-align-center" style="white-space:nowrap; overflow:auto; width:100%; height:auto;">
							             <thead>
							             
								           		<tr>
									                 <th>순차</th>
									                 <th>거래처관리코드</th>
									                 <th>거래처종류</th>
									                 <th>거래여부</th>
									                 <th>거래처명</th>
									                 <th>대표자명</th>
									                 <th>거래처 전화번호</th>
							               		</tr>
							             </thead>
							             <tbody>
								               <tr style="cursor:pointer" th:each="c , index : ${client}">
								               		<td th:text="${index.index+1}"></td>
													<td class="clientCode" th:id="${c.code}" th:text="${c.code}"></td>
													<td th:text="${c.liCode}"></td>
													<td th:text="${c.liCode2}"></td>
													<td th:text="${c.accName}"></td>
													<td th:text="${c.accCeoName}"></td>
													<td th:text="${c.accPhone}"></td>
												</tr>
							          	</tbody>
							       	</table>
						       	</form>
				        </div>		 <!-- /.card-body -->
     			</div>		<!-- /.card -->
   		</div>			<!-- /.col-12 -->
 </div>	<!-- /.contents -->
	
</th:block>

<th:block layout:fragment="customScript">

<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>

<script>
  $(function () {
    $('#clientListTable').DataTable();
  });
</script>

<script type="text/javascript" th:inline="javascript">
//거래처 datail 화면으로 이동하기 
$(document).ready(function(){
	
	$('#clientListTable tbody').on('click','tr',function(){
		var clientUrl = $(this).children('.clientCode');
		clientUrl.append('<input type="hidden" name="code" value="">');
		var clientCode = clientUrl.attr('id');
		$('input[name=code]').val(clientCode);
		$('.clientListForm').attr('method','POST');
		$('.clientListForm').attr('action','/client/clientDetail');
		$('.clientListForm').submit();
	});
});

</script>
</th:block>
</html>