<div class="card-body">
	<div id="accordion">
		<!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
		<div class="card card-primary">
			<div class="card-header">
				<h4 class="card-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="" aria-expanded="true"> Collapsible Group Item #1 </a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse in collapse show" style="">
				<div class="card-body">Anim pariatur cliche reprehenderit,
					enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
					moon officia aute, non cupidatat skateboard dolor brunch. Food
					truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
					sunt aliqua put a bird on it squid single-origin coffee nulla
					assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
					labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
					excepteur butcher vice lomo. Leggings occaecat craft beer
					farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.</div>
			</div>
		</div>
	</div>
</div>


<!-- 부서등록 시작  -->
<form th:action="@{teamNameInsert}" method="post">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="card col-lg-8" style="text-align: center;">
				<div class="card-body">
					<div id="accordion">
						<!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
						<div class="card card-primary">
							<div class="card-header">
								<h4 class="card-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="" aria-expanded="true"> 부서 등록 하기 </a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse in collapse show" style="">
							<div class="card-body">
								<table>
									<tr>
										<th style="width:150px;">부서명</th>
										<td><input class="form-control form-control-lg" type="text" style="width:100%" placeholder="부서명을 입력해주세요" id="departmentName" name="departmentName"></td>
									</tr>
									<tr>
										<th style="width:150px;">레벨</th>
										<td><input class="form-control form-control-lg" type="text" style="width:100%" placeholder="레벨을 입력해주세요" id="departmentLevel" name="departmentLevel"></td>
									</tr>
									<tr>
										<th style="width:150px;">상위부서코드</th>
										<td>
											<div class="form-group">
												<select class="form-control form-control-lg" name="departmentUpcode">
													<option th:each="C : ${selectBox}" th:text="${C.departmentName}"></option>
												</select>
						                      </div>
					                      </td>
									</tr>
									<tr>
										<th style="width:150px;">사유</th>
										<td><input class="form-control form-control-lg" type="text" style="width:100%" placeholder="등록사유를 입력해주세요" id="departmentSau" name="departmentSau"></td>
									</tr>
									<tr>
										<th></th>
										<td>
											<span style="float:right;"><input type="submit" value="등록하기" class="btn btn-block btn-primary btn-lg"></span>
										</td>
									</tr>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
</form>
<!-- 부서등록 끝  -->