<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<!-- DataTables -->
<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">

<style>
.stylegreenBtn{
	background-color: #006633;
	border-color: #006633;
}
</style>
<style>
#accordion1 div .aria-expanded:false{
	background-color: green;
}

</style>
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">부서 관리</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#" style="color:#006633;">Home</a></li>
					<li class="breadcrumb-item active">부서관리</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- 부서등록 시작  -->
<form th:action="@{#}" method="post" id="formInput">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="card col-lg-8" style="text-align: center;">
				<div style="align-self:center; width:90%;">
					<div id="accordion1">
						<!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
						<div class="card card-primary small" style="margin-top: 15px; background-color: #006633;">
							<div class="card-header" style="align-self: center;">
								<h4 class="card-title">
									<a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" class="" aria-expanded="false" style="color: white;"> 부서 등록 하기 </a>
								</h4>
							</div>
							<div id="collapseOne1" class="panel-collapse in collapse" style="background-color: white;">
							<div class="card-body" style="text-align: -webkit-center;">
								<table style="text-align: center;">
									<tr>
										<td style="width:150px;">부서명</td>
										<td><input class="form-control form-control-lg" type="text" style="width:100%; font-size: small;" placeholder="부서명을 입력해주세요" id="inputTitle" name="departmentNameBe">
										<div class="check_font" id="id_checkBe"></div></td>
										<td style="width:150px;">레벨</td>
										<td><input class="form-control form-control-lg" type="text" style="width:100%; font-size: small;" placeholder="레벨을 입력해주세요" id="departmentLevel" name="departmentLevel"></td>
									</tr>
									<tr>
										<td style="width:150px;">상위부서코드</td>
										<td>
											<div class="form-group">
												<select class="form-control form-control-lg" style="font-size: medium;" name="departmentUpcode">
													<option th:each="C : ${selectBox}" th:text="${C.departmentNameBe}"></option>
												</select>
						                      </div>
					                      </td>
					                      <td style="width:150px;">사유</td>
										<td><input class="form-control form-control-lg" type="text" style="width:100%; font-size: small;" placeholder="등록사유를 입력해주세요" id="departmentSau" name="departmentSau"></td>
									</tr>
									<tr>
										<td colspan="4" class="inputDeBtn">
											<!-- <button type="button" id="inputBtn" class="btn btn-block btn-primary btn-lg">등록하기</button> -->
											<input type="button" value="등록하기" class="btn btn-primary btn-lg stylegreenBtn" id="inputBtn">
										</td>
									</tr>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	</div>
</form>
<!-- 부서등록 끝  -->

<!-- 부서수정 시작  -->
<form th:action="@{#}" method="post" id="formUpdate">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="card col-lg-8" style="text-align: center;">
				<div style="align-self:center; width:90%;">
					<div id="accordion2">
						<!-- we are adding the .class so bootstrap.js collapse plugin detects it -->
						<div class="card card-primary small" style="margin-top: 15px; background-color: #006633;">
							<div class="card-header" style="align-self: center;">
								<h4 class="card-title">
									<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" class="" aria-expanded="false" style="color:white;"> 부서 수정 하기 </a>
								</h4>
							</div>
							<div id="collapseOne2" class="panel-collapse in collapse" style="background-color: white;">
							<div class="card-body" style="text-align: -webkit-center;">
								<table style="text-align: center;">
									<tr>
										<td style="width:150px;">변경전 부서명</td>
										<td><input class="form-control form-control-lg" type="text" style="width:100%; font-size: small;" placeholder="리스트에서 부서명을 클릭" id="departmentNameBeUp" name="departmentNameBe"></td>
										<td style="width:150px;">변경후 부서명</td>
										<td><input class="form-control form-control-lg" type="text" style="width:100%; font-size: small;" placeholder="부서명을 입력해주세요" id="departmentNameAf" name="departmentNameAf">
										<div class="check_font" id="id_checkAf"></div></td>
									</tr>
									<tr>
										<td style="width:150px;">레벨</td>
										<td><input class="form-control form-control-lg" type="text" style="width:100%; font-size: small;" placeholder="레벨을 입력해주세요" id="departmentLevelUp" name="departmentLevel"></td>
										<td style="width:150px;">상위부서명</td>
										<td>
						                      <input class="form-control form-control-lg" type="text" style="width:100%; font-size: small;" placeholder="상위부서명을 입력해주세요" id="departmentUpcode" name="departmentUpcode">
					                      </td>
									</tr>
									<tr>
					                      <td style="width:150px;">사유</td>
										<td><input class="form-control form-control-lg" type="text" style="width:100%; font-size: small;" placeholder="변경사유를 입력해주세요" id="departmentSauUp" name="departmentSau"></td>
									</tr>
									<tr>
										<td colspan="4" class="updateDeBtn">
											<input type="button" value="수정하기" class="btn btn-primary btn-lg stylegreenBtn" id="updateBtn">
										</td>
									</tr>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	</div>
</form>
<!-- 부서수정 끝  -->

<!-- 부서조회 시작 -->	
<div class="content" style="align-content: center">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">부서 리스트</h3>
			</div>
			<div class="card-body">
				<form th:action="@{#}" method="post" id="deleteForm">
					<table class="table table-hover small" style="white-space:nowrap; overflow:auto;  width:100%; height:auto; text-align: center;" id="boardListTable">
						<thead>
							<tr>
								<th>부서관리코드</th>
								<th>부서명</th>
								<th>레벨</th>
								<th>상위부서코드</th>
								<th>초기등록자</th>
								<th>작성일자</th>
								<th>사유</th>
								<th>승인자</th>
								<th>승인일자</th>
								<th>승인상태</th>
								<th>사용유무</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr class="groupListTr" th:each="C : ${CompanyList}">	
								<td class="groupListTd" id="departmentCode" th:text="${C.departmentCode}"></td>
								<td class="groupListTd" id="departmentNameBe" th:text="${C.departmentNameBe}"></td>
								<td class="groupListTd" id="departmentLevel" th:text="${C.departmentLevel}"></td>
								<td class="groupListTd" id="departmentUpcode" th:text="${C.departmentUpcode}"></td>
								<td class="groupListTd" id="departmentWriter" th:text="${C.deName +'-'+ C.empName}"></td>
								<td class="groupListTd" id="departmentWriterDay" th:text="${C.departmentWriterDay}"></td>
								<td class="groupListTd" id="departmentSau" th:text="${C.departmentSau}"></td>
								<td class="groupListTd" id="departmentApprover" th:text="${C.departmentApprover}"></td>
								<td class="groupListTd" id="departmentApproDay" th:text="${C.departmentApproDay}"></td>
								<td class="groupListTd" id="departmentApperverSt" th:text="${C.departmentApperverSt}"></td>
								<td class="groupListTd" id="departmentYesNO" th:text="${C.departmentYesNO}"></td>
								<td class="deleteDeBtn">
									<input type="button" value="삭제" class="btn btn-block btn-primary btn-sm" id="deleteDe">
								</td>								
							</tr>
						</tbody>
					</table>
				</form>
			<!-- /.table -->
			</div>
		<!-- /.card-body -->
		</div>
	<!-- /.card -->
	</div>
</div>
<!-- 부서 조회 끝 -->
</th:block>

<th:block layout:fragment="customScript">
<!-- 공란 / 유효성검사 체크 스크립트-->       	         
<script th:src="@{/custom/js/blankCkeck.js}"></script>
<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>
<script>
  $(function () {
    $('#boardListTable').DataTable();
  });
</script>        
</th:block>
</html>