<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/defaultPopUp}">

<th:block layout:fragment="customContents">

<form th:action="@{ScheduleInsert}" method="post">
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="card">
						<table style="text-align: center;">
							<tr>
								<td style="width: 150px;">일정 구분</td>
								<td><select class="form-control form-control-lg"
									style="font-size: medium;" name="sortation">
										<option value="전체일정">전체일정</option>
										<option value="부서일정">부서일정</option>
										<option value="개인일정">개인일정</option>
								</select></td>
							</tr>
							<tr>
								<td style="width: 150px;">일정명</td>
								<td><input class="form-control form-control-lg" type="text"
									style="width: 100%; font-size: small;"
									placeholder="일정명을 입력해주세요" id="title" name="title">
								</td>
							</tr>
							<tr>
								<td style="width: 150px;">일정내용</td>
								<td><input class="form-control form-control-lg" type="text"
									style="width: 100%; font-size: small;" placeholder="내용 입력해주세요"
									id="content" name="content"></td>
							</tr>
							<tr>
								<td style="width: 150px;">일정 시작일</td>
								<td><input class="form-control form-control-lg" type="text"
									style="width: 100%; font-size: small;"
									placeholder="예) 2019-12-01" id="startDay" name="start"></td>
							</tr>
							<tr>
								<td style="width: 150px;">일정 종료일</td>
								<td><input class="form-control form-control-lg" type="text"
									style="width: 100%; font-size: small;"
									placeholder="예) 2019-12-01" id="endDay" name="end"></td>
							</tr>
							<tr>
								<td style="width: 150px;">일정 배경을 선택해주세요</td>
								<td><select class="form-control form-control-lg"
									style="font-size: medium;" name="backgroundColor">
										<option value="#0073b7">파랑</option>
										<option value="#f56954">빨강</option>
										<option value="#00c0ef">아쿠아</option>
										<option value="#00a65a">녹색</option>
										<option value="#3c8dbc">밝은파랑</option>
								</select></td>
							</tr>
							<tr>
								<td colspan="4"><input type="submit" value="일정 등록하기"
									class="btn btn-block btn-primary btn-lg" id="scheduleBtn"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
</th:block>

<th:block layout:fragment="customScript">
<!-- 대시보드 사용함에 따라 주석 및 해제 할 것 -->
<!-- <script th:src="@{dist/js/pages/dashboard3.js}"></script> -->

<!-- 일정등록 버트 클릭시 실행될 이벤트 -->
<script type="text/javascript">

$(document).ready(function(){
	$('#scheduleBtn').click(function(){
		
		window.close();
	});
});

</script>
</th:block>
</html>