<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">
 
  
<th:block layout:fragment="customTitle">
	<title>index</title>
</th:block>

<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div>
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>일정 관리</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Calendar</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row" style="justify-content: center;">
					<div>
						<div class="sticky-top mb-3">
							<div class="content">
								<div>
										<!-- the events -->
										<div id="external-events">
											
										</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-md-9">
						<div class="card card-primary">
							<div class="card-body p-0">
								<!-- THE CALENDAR -->
								<div id="calendar"></div>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->


	<aside class="control-sidebar control-sidebar-dark"></aside>

	<th:block layout:fragment="customScript">

<!-- jQuery -->
<script th:src="@{plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- jQuery UI -->
<script th:src="@{plugins/jquery-ui/jquery-ui.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{dist/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{dist/js/demo.js}"></script>
<!-- fullCalendar 2.2.5 -->
<script th:src="@{plugins/moment/moment.min.js}"></script>
<script th:src="@{plugins/fullcalendar/main.min.js}"></script>
<script th:src="@{plugins/fullcalendar-daygrid/main.min.js}"></script>
<script th:src="@{plugins/fullcalendar-timegrid/main.min.js}"></script>
<script th:src="@{plugins/fullcalendar-interaction/main.min.js}"></script>
<script th:src="@{plugins/fullcalendar-bootstrap/main.min.js}"></script>
<!-- Page specific script -->

<script th:src=@{custom/js/CssCalender.js}></script>

<!-- 캘린더영역을 선택시 실행될 이벤트 -->
<script type="text/javascript">

$(document).ready(function(){
 	$('.fc-day-grid').click(function(){
		
		var url = "/ScheduleInsert"
		
		var popupX = (document.body.offsetWidth / 2) - (400/ 2);
		//&nbsp;만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음

		var popupY= (document.body.offsetHeight / 2) - (320 / 2);
		//&nbsp;만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
		
		window.open(url, "", "width=400, height=320, left="+ popupX + ", top="+ popupY);
	});
	
	$('.fc-event-container').click(function(){
			
		var url = "/ScheduleInsert"
		
		var popupX = (document.body.offsetWidth / 2) - (400/ 2);
		//&nbsp;만들 팝업창 좌우 크기의 1/2 만큼 보정값으로 빼주었음

		var popupY= (document.body.offsetHeight / 2) - (320 / 2);
		//&nbsp;만들 팝업창 상하 크기의 1/2 만큼 보정값으로 빼주었음
		
		window.open(url, "", "width=400, height=500, left="+ popupX + ", top="+ popupY);
	});
});

</script>

</th:block>

</html>
