<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>카테고리</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<!-- jsGrid -->
<link rel="stylesheet" th:href="@{plugins/jsgrid/jsgrid.min.css}">
<link rel="stylesheet" th:href="@{plugins/jsgrid/jsgrid-theme.min.css}">
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">카테고리 등록</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a th:href="@{/documentFormCateInsert}">카테고리 등록</a></li>
					<li class="breadcrumb-item">기본설정</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="card card-info col-lg-8">
				<!-- form start -->
				<form id="cateNameList" class="form-horizontal" th:action="@{/documentFormCateInsert}" method="POST">
					<div class="card-body">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">대분류</label>
							<div class="col-sm-10">
								<div class="input-group-prepend">
									<div class="input-group input-group-lg mb-3">
										<div class="input-group-prepend">
											<button id="largeCateNameBtn" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">대분류</button>
											<ul id="largeCateList" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 48px, 0px);">
												<th:block th:each="ll : ${largeCateNameList}">
													<li class="dropdown-item cateList"><a href="#" th:text="${ll.largeCateName}"></a></li>
												</th:block>
												<li class="dropdown-divider"></li>
												<li class="dropdown-item cateList"><a href="#">기타</a></li>
											</ul>
										</div>
										<!-- /btn-group -->
										<input id="largeCateName" type="text" class="form-control" name="largeCateName" value="">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">중분류</label>
							<div class="col-sm-10">
								<div class="input-group-prepend">
									<div class="input-group input-group-lg mb-3">
										<div class="input-group-prepend">
											<button id="middleCateNameBtn" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">중분류</button>
											<ul id="middleCateList" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 48px, 0px);">
												<li class="dropdown-item cateList"><a href="#">기타</a></li>
											</ul>
										</div>
										<!-- /btn-group -->
										<input id="middleCateName" type="text" class="form-control" name="middleCateName" value="">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">소분류</label>
							<div class="col-sm-10">
								<div class="input-group-prepend">
									<div class="input-group input-group-lg mb-3">
										<input id="smallCateName" type="text" class="form-control" name="smallCateName" value="">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<button id="submitBtn" type="button" class="btn btn-info float-right">등록</button>
					</div>
					<!-- /.card-footer -->
				</form>
			</div>
			<div class="col-lg-4">
				<select id="smallCateList" multiple="" class="form-control" style="height: 342px;">
					<option value="">소분류 내용</option>
				</select>
			</div>
			<div class="card card-info col-lg-12" style="height: 242px;">
				<div class="card-body">
					<div class="form-group row">
						<div class="jsgrid-grid-header jsgrid-header-scrollbar">
							<table class="jsgrid-table">
								<tr class="jsgrid-header-row">
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 70px;">코드</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">대분류</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">중분류</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">소분류</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 50px;">사용상태</th>
								</tr>
							</table>
						</div>
						<div class="jsgrid-grid-body">
							<!-- form start -->
							<form id="samllCateNameConfig" class="form-horizontal">
								<table class="jsgrid-table">
									<tr class="jsgrid-row samllCateNamePrint">
									
									</tr>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- Modal -->
<div class="modal fade" id="cateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">카테고리명 수정</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="updateCateName">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">대분류</label>
						<input type="text" class="form-control" id="largeCateNameInput" name="largeCateNameInput" value="" readonly="readonly">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">중분류</label>
						<input type="text" class="form-control" id="middleCateNameInput" name="middleCateNameInput" value="" readonly="readonly">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">소분류</label>
						<input type="text" class="form-control CateNameInput" id="smallCateNameInput" name="smallCateNameInput" value="">
					</div>
					<div class="form-group cateUseModal">
						<!-- <label for="recipient-name" class="col-form-label">사용유무</label>
						<input type="checkbox" name="my-checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success"> -->
						<div class="form-group">
							<div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
								<input type="checkbox" class="custom-control-input" name="useConfig" id="useConfigCheck">
								<label class="custom-control-label" for="useConfigCheck">
									<a style="font-size: 13px;color: orangered;font: caption;">※ 해당 카테고리명의 사용유무를 변경 할 수 있습니다.</a>
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				<button type="button" class="btn btn-primary">수정</button>
			</div>
		</div>
	</div>
</div>
</th:block>

<!-- 사용자 자바스크립트 -->
<th:block layout:fragment="customScript">
<script type="text/javascript">
$(document).ready(function(){
	
	var insertCheck = 0;
	
	// 인풋 값 변경 감지
	$('#largeCateName').on("propertychange change keyup paste input", function(){
		$('#middleCateName').val('');
		$('#smallCateName').val('');
	})
	$('#middleCateName').on("propertychange change keyup paste input", function(){
		$('#smallCateName').val('');
		var a = $('#largeCateName').val();
		if(a == ''){
			alert('순차적으로 입력해주세요');
			$('#middleCateName').val('');
		}
	})
	$('#smallCateName').on("propertychange change keyup paste input", function(){
		var b = $('#middleCateName').val();
		if(b == ''){
			alert('순차적으로 입력해주세요');
			$('#smallCateName').val('');
		}
		var inputText = $(this).val();
		if($('#smallCateList').find('option[value="'+inputText+'"]').length > 0){
			$('#smallCateName').removeClass("is-valid");
			$('#smallCateName').addClass("is-invalid");
			
			insertCheck = 0;
			
		}else if($('#smallCateList').length > 0){
			$('#smallCateName').removeClass("is-invalid");
			$('#smallCateName').addClass("is-valid");
			
			insertCheck = 1;
		}
	})
	
	
	var cateEvent = function(){
		var largeCateName = '';
		var middleCateName = '';
		var superName = '';
		var cate = '';
		var commonName = '';
		var inputId = '';
		var buttonId = '';
		
		// 부모 클래스 아이디값
		superName = $(this).closest('ul').attr('id');
		cate = '#';
		cate += superName;
		
		// 공통ID명 추출
		commonName = cate.substr(1, cate.length - 5);
		
		// inputId 생성
		inputId = '#';
		inputId += commonName;
		inputId += 'Name';
		
		// buttonId 생성
		buttonId = inputId;
		buttonId += 'Btn';
		
		// 선택자 text명
		select = $(this).text();
		
		if(superName == 'largeCateList'){
			$('#middleCateName').val('');
			$('#middleCateList').html('<li class="dropdown-item cateList"><a href="#">기타</a></li>');
			$('#smallCateName').val('');
			$('#smallCateList').html('<option value="">소분류 내용</option>');
			
			$('#smallCateName').removeClass("is-invalid");
			$('#smallCateName').removeClass("is-valid");
			
		}else if(superName == 'middleCateList'){
			$('#smallCateName').val('');
			
			$('#smallCateName').removeClass("is-invalid");
			$('#smallCateName').removeClass("is-valid");
		}
		$('.cateList').off("click");
		$('.cateList').on("click", cateEvent);
		if(select == '기타'){
			$(buttonId).text('기타');
			$(inputId).val('');
			$('#smallCateName').val('');
			$('#smallCateList').html('');
			
			
		}else{
			var selectCate = $(cate).closest('.form-group').find('label').text();
			$(buttonId).text(selectCate);
			$(inputId).val(select);
		
			largeCateName = $('#largeCateName').val();
			middleCateName = $('#middleCateName').val();
			// ajax 호출
			$.ajax({
				async: true,
				type : 'POST',
				data : {'largeCateName': largeCateName, 'middleCateName': middleCateName},
				url : "selectCateNameList",
				dataType : "json",
				success : function(result) {
					
					if(result[0].middleCateName != null){
						var value = null; 
						var output = '';
						for(var i=0; i<result.length; i++){
							value = result[i].middleCateName;
							output += '<li class="dropdown-item cateList"><a href="#">';
							output += value;
							output += '</a></li>';
						}
						output += '<li class="dropdown-divider"></li>';
						output += '<li class="dropdown-item cateList"><a href="#">기타</a></li>';
						$('#middleCateList').html(output);
						
					}else if(result[0].smallCateName != null){
						var value = null; 
						var output = '';
						for(var i=0; i<result.length; i++){
							value = result[i].smallCateName;
							output += '<option value="'+value+'">';
							output += value;
							output += '</option>';
						}
						$('#smallCateList').html(output);
					}
					
					$('.cateList').off("click");
					$('.cateList').on("click", cateEvent);
				},
				error : function(error) {
					//alert("error : " + error);
				}
			});
		}
	}
	
	$('.cateList').off("click");
	$('.cateList').on("click", cateEvent);
	
	$('#submitBtn').click(function(){
		if($('#largeCateName').val() == '' || $('#middleCateName').val() == '' || $('#smallCateName').val() == '' || insertCheck == 0){
			alert('누락된 값 또는 중복된 값이 있습니다.');
		}else{
			$('#cateNameList').submit();
		}
	});
	
	// 카테고리 공통 플러그인 작업
	var condition = 0;	// 0 : 작동없음, 1 : SELECT, 2 : UPDATE, 3 : useYn change
	var cateCode = '';
	var smallCateName = '';
	var useConfig = '';
	(function($) {
		$.fn.smallCateEvent = function(input){
			
			if(input == 1){
				condition = 1;
				smallCateName = $(this).val()[0];
			}else if(input == 2){
				if($('#largeCateNameInput').val() == '' || $('#middleCateNameInput').val() == '' || $('#smallCateNameInput').val() == ''){
					condition = 0;
					alert('누락된 값이 있습니다.');
				}else{
					if(confirm('내용 수정이 맞습니까?')){
						condition = 2;
						largeCateName = $('#largeCateNameInput').val();
						middleCateName = $('#middleCateNameInput').val();
						smallCateName = $('#smallCateNameInput').val();
						if($('#useConfigCheck').is(":checked")){
							useConfig = 'Y';
						}else{
							useConfig = 'N';
						}
					}
				}
			}
			// ajax 호출
			// 'largeCateName': largeCateName, 'middleCateName': middleCateName,
			$.ajax({
				async: true,
				type : 'POST',
				data : {'condition' : condition, 'cateCode' : cateCode, 'smallCateName': smallCateName, 'useConfig' : useConfig},
				url : "updateCateNameConfig",
				dataType : "json",
				success : function(result) {
					
					if(condition == 1){
						cateCode = result.cateCode;
						var tdObjectArray = [];
						
						for(var i=0; i < 5; i++){	
							var tdObj = $('<td class="jsgrid-cell jsgrid-align-center" style="width: 50px;"></td>');
							if(i == 0) {
								tdObj.css('width', '70px').text(result.cateCode);
							}else if(i == 1){
								tdObj.addClass('largeCateName').css('width', '100px').text(result.largeCateName);
							}else if(i == 2){
								tdObj.addClass('middleCateName').css('width', '100px').text(result.middleCateName);
							}else if(i == 3){
								tdObj.addClass('smallCateName').css('width', '100px').text(result.smallCateName);
							}else{
								var inputObj = $('<a class="useConfig"></a>');
								if(result.useYn == 'Y'){
									inputObj.text('사용중');
									inputObj.css('color', 'darkgreen');
								}else if(result.useYn == 'N'){
									inputObj.text('사용 해제');
									inputObj.css('color', 'red');
								}
								tdObj.css('width', '50px').append(inputObj);	
							}	
							tdObjectArray.push(tdObj);
						}
						
						// modal input value 값 넣기
						$('#largeCateNameInput').val(result.largeCateName);
						$('#middleCateNameInput').val(result.middleCateName);
						$('#smallCateNameInput').val(result.smallCateName);
						if(result.useYn == 'Y'){
							$('#useConfigCheck').prop('checked', true);
						}else if(result.useYn == 'N'){
							$('#useConfigCheck').prop('checked', false);
						}
						
						$('.samllCateNamePrint').html('');
						for(var i=0; i < tdObjectArray.length; i ++){
							$('.samllCateNamePrint').append(tdObjectArray[i]);
						}
						
						condition = 0;
						
					}else if(condition == 2){
						$('#cateModal').modal("hide");
						$('.smallCateName').text(smallCateName);
						var beName = $('#smallCateList').select().val()
						$('#smallCateList option[value='+beName+']').text(smallCateName)
						$('#smallCateList option[value='+beName+']').val(smallCateName)
						if(useConfig == 'Y'){
							$('.useConfig').text('사용중');
							$('.useConfig').css('color', 'darkgreen');
						}else if(useConfig == 'N'){
							$('.useConfig').text('사용 해제');
							$('.useConfig').css('color', 'red');
						}
					}
				},
				error : function(error) {
					//alert("error : " + error);
				}
			});
		}
	}(jQuery));
	
	// 소분류 클릭에 따른 이벤트
	$('#smallCateList').on('click', function(){
		$('#smallCateList').smallCateEvent('1');
	})
	
	$('.samllCateNamePrint').on('click', function(){
		$("#cateModal").modal('show');
	});
	
	// modal input click시 공란변환
	$('.CateNameInput').on('click', function(){
		$(this).val('');
	})
	
	$('.btn-primary').on('click', function(){
		$('.btn-primary').smallCateEvent('2');
	})
});
</script>
</th:block>
</html>