<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>근태현황</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<style type="text/css">
tbody tr:hover{background: whitesmoke;}
</style>
<!-- DataTables -->
<link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">

<!-- daterange picker -->
<link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">

</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">출퇴근 목록</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/}">근태관리</a></li>
					<li class="breadcrumb-item">근태현황</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<!-- table start -->
				<div class="card">
					<!-- <div class="card-header">
						<h3 class="card-title">근태 현황</h3>
					</div> -->
					<!-- /.card-header -->
					<div class="card-body">
						<table id="workTimeTable" class="table table-bordered" style="text-align: center;">
						
							<thead>
								<tr>
									<th>순차</th>
									<th>일자</th>
									<th>출근시간</th>
									<th>퇴근시간</th>
									<th>사원번호</th>
									<th>부서</th>
									<th>직급</th>
									<th>이름</th>
								</tr>
							</thead>
							
							<tbody>
								<tr class="workAttListTable" th:each="W, index : ${WorkAttitudeVoList}">
									<td class="workAttListTableNum" th:text="${index.index+1}"></td>
									<td th:text="${W.day}"></td>
									<td th:text="${W.startWorkTime}"></td>
									<td th:text="${W.endWorkTime}"></td>
									<td th:text="${W.userId}"></td>
									<td th:text="${W.demgName}"></td>
									<td th:text="${W.poName}"></td>
									<td th:text="${W.userName}"></td>
								</tr>
							</tbody>
							<!-- <tfoot>
								<tr>
									<th>Rendering engine</th>
									<th>Browser</th>
									<th>Platform(s)</th>
									<th>Engine version</th>
									<th>CSS grade</th>
								</tr>
							</tfoot> -->
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
				<!-- end table -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>

<!-- 모달 사용 시작 -->
<div class="modal fade" id="workAttListModal" tabindex="-1" role="dialog" aria-labelledby="workAttListModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="workAttCode"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="float:left;">
				<form style="font-size: 1.0rem;">
					<div class="form-group col-md-6" style="float:left;" id="day">
						<label for="recipient-name" class="col-form-label">일자</label>
					</div>
					<div class="form-group col-md-6" style="float:left;" id="demgName">
						<label for="recipient-name" class="col-form-label">부서명</label>
					</div>
					<div class="form-group col-md-6" style="float:left;" id="poName">
						<label for="recipient-name" class="col-form-label">직급명</label>
					</div>
					<div class="form-group col-md-6" style="float:left;" id="userName">
						<label for="recipient-name" class="col-form-label">사원명</label>
					</div>
					<div class="form-group col-md-12" style="float:left;" id="workTime">
						<label for="recipient-name" class="col-form-label">출퇴근시간</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="far fa-clock"></i></span>
							</div>
							<input type="text" class="form-control float-right" id="startEndWorkTime">
						</div>
					</div>
					<div class="form-group col-md-12" style="float:left;" id="coment">
						<label for="recipient-name" class="col-form-label">수정 사유</label>
						<div class="input-group">
								<input type="text" class="form-control" name="coment" placeholder="사유">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
				<button type="button" class="btn btn-primary sendBtn">수정</button>
			</div>
		</div>
	</div>
</div>
<!-- 모달 사용 종료 -->
</th:block>

<th:block layout:fragment="customScript">
<!-- DataTables -->
<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>


<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){
	// 테이블 페이징 처리를 위한 JS홏ㄹ
	$('#workTimeTable').DataTable();
	
	// ajax 호출
	(function($){
		$.fn.workTimeEvent = function(sendData, fn){
			
			$.ajax({
				async: true,
				type : sendData.ajaxType,
				data : sendData,
				url : sendData.ajaxUrl,
				dataType : sendData.ajaxDataType,
				success : function(result) {
					fn(result);
				},
				error : function(error) {
					//alert("error : " + error);
					fn('error');
				}
			});
		}
	}(jQuery));
    
	// 세션 값 가져와 테이블에 데이터 뿌리기
    $('#workTimeTable tbody').on('click', 'tr', function () {
		
		var workAttData = {};
		workAttData = [[${WorkAttitudeVoList}]];
		
		var num = $(this).children('.workAttListTableNum').text() - 1;
		
		var workAttCode = workAttData[num].workAttCode;
		var oldDay = null;
		var day = workAttData[num].day;
		var userCode = workAttData[num].userCode;
		var demgName = workAttData[num].demgName;
		var poName = workAttData[num].poName;
		var userName = workAttData[num].userName;
		var startWorkTime = workAttData[num].startWorkTime;
		var endWorkTime = workAttData[num].endWorkTime;
		var startOutSideTime = workAttData[num].startOutSideTime;
		var endOutSideTime = workAttData[num].endOutSideTime;
		var userId = workAttData[num].userId;
		var adminId = workAttData[num].adminId;
		var adminInsertDt = workAttData[num].adminInsertDt;
		var coment = workAttData[num].coment;
		
		$('#workAttListModal').modal('show');
		
		$('.text-muted').remove();
		
		$('#workAttCode').text(workAttCode);
		$('#day').append('<p class="text-muted">' + day + '</p>');
		oldDay = day;	// 일자가 변경되기 때문에 복사해놓는다.
		$('#demgName').append('<p class="text-muted">' + demgName + '</p>');
		$('#poName').append('<p class="text-muted">' + poName + '</p>');
		$('#userName').append('<p class="text-muted">' + userName + '</p>');
		
		$('#startEndWorkTime').val(startWorkTime + ' - ' + endWorkTime);
		
		// 출퇴근 null일때 처리방법
		if(startWorkTime == null) startWorkTime = day.concat('08:00:00');
		if(endWorkTime == null) endWorkTime = startWorkTime.substr(0,11).concat('18:00:00');
		
		//인풋박스 기간 및 시간 설정
		$('#startEndWorkTime').daterangepicker({
			timePicker: true,
			timePickerIncrement: 1,	// 분 간격 설정
			startDate: moment(startWorkTime),
			endDate: moment(endWorkTime)
		});
		
		// dateRangePicker에서 확인버튼 클릭시 발생 이벤트
		// 시작날짜 변경되면 ('#day').text() 를 변경한다.
		$('.okBtn').on('click', function(){
			if(startWorkTime.substr(0,11) != day) day = $('.drp-selected').text().substr(0,11);
			$('#day').children('p').text(day);
		});
		
		// 수정 버튼 클릭시 발생 이벤트
		$('.sendBtn').on('click', function(){
			
			var sendData = {};
			
			sendData.ajaxType = 'POST';	// 전송타입
			sendData.ajaxUrl = '/WorkAttitude';	// 호출 주소
			sendData.ajaxDataType = 'json';	// 리턴 타입
			
			sendData.workAttCode = workAttCode;
			sendData.day = day;
			sendData.userCode = userCode;
			sendData.startWorkTime = $('input[id=startEndWorkTime]').val().substr(0,19);
			sendData.endWorkTime = $('input[id=startEndWorkTime]').val().substr(22,19);
			sendData.adminId = [[${session.SCODE}]];
			sendData.coment = $('input[name=coment]').val();
			
			// 공란 체크
			if($('input[name=coment]').val() == ''){
				alert('누락된 값이 있습니다.');
			}else{
				// 내용 수정되는 조건
				if(day == oldDay){
					if(confirm('내용수정이 맞습니까?')){
						sendData.conditionValue = 5;
						// 콜백함수
						$(document).workTimeEvent(sendData, function(result){
							if(result != 'error'){
								if(result.startWorkTime != null) {
									alert('이미 등록된 정보가 있습니다.');
								}else {
									console.log('result data : ' + result.startWorkTime)
								}
							}else{
							}
						});
					}
					
				// 내용이 새롭게 등록되는 조건
				}else{
					if(confirm('일자가 변경되었습니다. 새롭게 등록하시나요?')){
						sendData.conditionValue = 4;
						// 콜백함수
						$(document).workTimeEvent(sendData, function(result){
							if(result != 'error'){
								if(result.startWorkTime != null) {
									alert('이미 등록된 정보가 있어 새롭게 등록하지 못합니다.');
								}else {
									console.log('result data : ' + result.startWorkTime)
								}
								//if(result.startWorkTime != '미등록') $('#startWorkTime').text(result.startWorkTime.substr(11,8));
								//if(result.endWorkTime != '미등록') $('#endWorkTime').text(result.endWorkTime.substr(11,8));
							}else{
								//$('#startWorkTime').text('미등록');
								//$('#endWorkTime').text('미등록');
							}
						});
					}
				}
			}
		});
	});
});
</script>
</th:block>
</html>