<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="~{layouts/default}">

<!-- 사용자 타이틀 -->
<th:block layout:fragment="customTitle">
	<title>근태현황</title>
</th:block>

<!-- 사용자 CSS -->
<th:block layout:fragment="customCss">
<style type="text/css">
tbody tr:hover{background: whitesmoke;}
</style>
<!-- DataTables -->
<link rel="stylesheet" th:href="@{plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
</th:block>

<th:block layout:fragment="customContents">
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">출퇴근 목록</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/}">근태관리</a></li>
					<li class="breadcrumb-item">근태현황</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<!-- table start -->
				<div class="card">
					<!-- <div class="card-header">
						<h3 class="card-title">근태 현황</h3>
					</div> -->
					<!-- /.card-header -->
					<div class="card-body">
						<table id="workTimeTable" class="table table-bordered" style="text-align: center;">
						
							<thead>
								<tr>
									<th>순차</th>
									<th>일자</th>
									<th>출근시간</th>
									<th>퇴근시간</th>
									<th>사원번호</th>
									<th>부서</th>
									<th>직급</th>
									<th>이름</th>
								</tr>
							</thead>
							
							<tbody>
								<tr class="workAttListTable" th:each="W, index : ${WorkAttitudeVoList}">
									<td class="workAttListTableNum" th:text="${index.index+1}"></td>
									<td th:text="${W.day}"></td>
									<td th:text="${W.startWorkTime}"></td>
									<td th:text="${W.endWorkTime}"></td>
									<td th:text="${W.userId}"></td>
									<td th:text="${W.demgName}"></td>
									<td th:text="${W.poName}"></td>
									<td th:text="${W.userName}"></td>
								</tr>
							</tbody>
							<!-- <tfoot>
								<tr>
									<th>Rendering engine</th>
									<th>Browser</th>
									<th>Platform(s)</th>
									<th>Engine version</th>
									<th>CSS grade</th>
								</tr>
							</tfoot> -->
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
				<!-- end table -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>

<!-- 모달 사용 시작 -->
<div class="modal fade" id="workAttListModal" tabindex="-1" role="dialog" aria-labelledby="workAttListModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="workAttCode"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="float:left;">
				<form style="font-size: 1.0rem;">
					<div class="form-group col-md-6" style="float:left;" id="day">
						<label for="recipient-name" class="col-form-label">일자</label>
					</div>
					<div class="form-group col-md-6" style="float:left;" id="demgName">
						<label for="recipient-name" class="col-form-label">부서명</label>
					</div>
					<div class="form-group col-md-6" style="float:left;" id="poName">
						<label for="recipient-name" class="col-form-label">직급명</label>
					</div>
					<div class="form-group col-md-6" style="float:left;" id="userName">
						<label for="recipient-name" class="col-form-label">사원명</label>
					</div>
					<div class="form-group col-md-6" style="float:left;" id="startWorkTime">
						<label for="recipient-name" class="col-form-label">출근시간</label>
					</div>
					<div class="form-group col-md-6" style="float:left;" id="endWorkTime">
						<label for="recipient-name" class="col-form-label">퇴근시간</label>
						<input type="time">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary sendBtn">Send message</button>
			</div>
		</div>
	</div>
</div>
<!-- 모달 사용 종료 -->
</th:block>

<th:block layout:fragment="customScript">
<!-- DataTables -->
<script th:src="@{plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>

<!-- page script -->
<script>
  $(function () {
    $('#workTimeTable').DataTable();
  });
</script>

<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){
	 var table = $('#workTimeTable').DataTable();
     
    $('#workTimeTable tbody').on('click', 'tr', function () {
		
		var workAttData = {};
		workAttData = [[${WorkAttitudeVoList}]];
		
		var num = $(this).children('.workAttListTableNum').text() - 1;
		
		var workAttCode = workAttData[num].workAttCode;
		var day = workAttData[num].day;
		var userCode = workAttData[num].userCode;
		var demgName = workAttData[num].demgName;
		var poName = workAttData[num].poName;
		var userName = workAttData[num].userName;
		var startWorkTime = workAttData[num].startWorkTime;
		var endWorkTime = workAttData[num].endWorkTime;
		var startOutSideTime = workAttData[num].startOutSideTime;
		var endOutSideTime = workAttData[num].endOutSideTime;
		var userId = workAttData[num].userId;
		var adminId = workAttData[num].adminId;
		var adminInsertDt = workAttData[num].adminInsertDt;
		var coment = workAttData[num].coment;
		
		$('#workAttListModal').modal('show');
		
		$('.text-muted').remove();
		
		$('#workAttCode').text(workAttCode);
		$('#day').append('<p class="text-muted">' + day + '</p>');
		$('#demgName').append('<p class="text-muted">' + demgName + '</p>');
		$('#poName').append('<p class="text-muted">' + poName + '</p>');
		$('#userName').append('<p class="text-muted">' + userName + '</p>');
		$('#startWorkTime').append('<p class="text-muted">' + startWorkTime + '</p>');
		$('#endWorkTime').append('<p class="text-muted">' + endWorkTime + '</p>');
		
	});
	
	$('.sendBtn').on('click', function(){
		//<input type="text" class="form-control">
	});
});
</script>
</th:block>
</html>